Repository space-syndicate/space-station-14-next, pull requests merged in 2024-11, with the labels that each got.

#22 Обновить темплейт описаний к ПРам
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Needs Review, No C#

#19 Move discipline lock from T3 to T4
  Resources/Prototypes/Research/disciplines.yml
Labels: Status: Needs Review, No C#

#14 Подсветка текста в фильтрах QOL
  Content.Client/Options/UI/OptionsTabControlRow.xaml.cs
  Content.Client/Options/UI/Tabs/AccessibilityTab.xaml
  Content.Client/Options/UI/Tabs/AccessibilityTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/_CorvaxNext/Options/UI/OptionColorSlider.xaml
  Content.Client/_CorvaxNext/Options/UI/OptionColorSlider.xaml.cs
  Content.Shared/Corvax/CCCVars/CCCVars.cs
  Resources/Locale/en-US/_CorvaxNext/chat/highlights.ftl
  Resources/Locale/en-US/chat/ui/chat-box.ftl
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/_CorvaxNext/chat/highlights.ftl
  Resources/Locale/ru-RU/chat/ui/chat-box.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
Labels: Status: Needs Review, Changes: Localization, Changes: UI

#28 Footprints
  Content.Client/_CorvaxNext/Footprints/FootprintsVisualizerSystem.cs
  Content.Server/_CorvaxNext/Footprints/EntitySystems/FootprintsSystem.cs
  Content.Server/_CorvaxNext/Footprints/EntitySystems/PuddleFootprintsSystem.cs
  Content.Shared/_CorvaxNext/Footprints/Components/FootprintComponent.cs
  Content.Shared/_CorvaxNext/Footprints/Components/FootprintVisualizerComponent.cs
  Content.Shared/_CorvaxNext/Footprints/Components/PuddleFootprintsComponent.cs
  Content.Shared/_CorvaxNext/Footprints/FootprintVisuals.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Mobs/Player/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_CorvaxNext/Entities/Effects/footstep.yml
  Resources/Textures/_CorvaxNext/Effects/footprints.rsi/dragging-1.png
  Resources/Textures/_CorvaxNext/Effects/footprints.rsi/dragging-2.png
  Resources/Textures/_CorvaxNext/Effects/footprints.rsi/dragging-3.png
  Resources/Textures/_CorvaxNext/Effects/footprints.rsi/dragging-4.png
  Resources/Textures/_CorvaxNext/Effects/footprints.rsi/dragging-5.png
  Resources/Textures/_CorvaxNext/Effects/footprints.rsi/dragging-test.png
  Resources/Textures/_CorvaxNext/Effects/footprints.rsi/footprint-left-bare-diona.png
  Resources/Textures/_CorvaxNext/Effects/footprints.rsi/footprint-left-bare-dwarf.png
  Resources/Textures/_CorvaxNext/Effects/footprints.rsi/footprint-left-bare-human.png
  Resources/Textures/_CorvaxNext/Effects/footprints.rsi/footprint-left-bare-lizard.png
  Resources/Textures/_CorvaxNext/Effects/footprints.rsi/footprint-left-bare-slime.png
  Resources/Textures/_CorvaxNext/Effects/footprints.rsi/footprint-left-bare-spider.png
  Resources/Textures/_CorvaxNext/Effects/footprints.rsi/footprint-right-bare-diona.png
  Resources/Textures/_CorvaxNext/Effects/footprints.rsi/footprint-right-bare-dwarf.png
  Resources/Textures/_CorvaxNext/Effects/footprints.rsi/footprint-right-bare-human.png
  Resources/Textures/_CorvaxNext/Effects/footprints.rsi/footprint-right-bare-lizard.png
  Resources/Textures/_CorvaxNext/Effects/footprints.rsi/footprint-right-bare-slime.png
  Resources/Textures/_CorvaxNext/Effects/footprints.rsi/footprint-right-bare-spider.png
  Resources/Textures/_CorvaxNext/Effects/footprints.rsi/footprint-shoes.png
  Resources/Textures/_CorvaxNext/Effects/footprints.rsi/footprint-suit.png
  Resources/Textures/_CorvaxNext/Effects/footprints.rsi/meta.json
Labels: Status: Needs Review, Changes: Sprites

#34 Обновить темлпейт 2
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Status: Needs Review, No C#

#30 Добавить АПИИ
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Content.Server/GameTicking/Rules/ThiefRuleSystem.cs
  Content.Server/Objectives/Components/StealConditionComponent.cs
  Content.Server/Objectives/Systems/StealConditionSystem.cs
  Resources/Locale/en-US/_corvaxnext/chat/highlights.ftl
  Resources/Locale/ru-RU/_corvaxnext/api.ftl
  Resources/Locale/ru-RU/_corvaxnext/chat/highlights.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_CorvaxNext/Catalog/api_toolbox_sets.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Tools/api_toolbox.yml
  Resources/Prototypes/_CorvaxNext/GameRules/api.yml
  Resources/Prototypes/_CorvaxNext/Objectives/ai_steal_target_group.yml
  Resources/Prototypes/_CorvaxNext/Objectives/api.yml
  Resources/Prototypes/_CorvaxNext/Roles/Antags/api.yml
  Resources/Prototypes/_CorvaxNext/Roles/MindRoles/api_mind_role.yml
Labels: Status: Needs Review, Changes: Localization

#31 Роль бригмедика
  Resources/Locale/ru-RU/_corvaxnext/preferences/loadout-groups.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_CorvaxNext/Loadouts/Jobs/Security/brigmedic.yml
  Resources/Prototypes/_CorvaxNext/Loadouts/loadout_groups.yml
  Resources/Prototypes/_CorvaxNext/Loadouts/role_loadouts.yml
  Resources/Prototypes/_CorvaxNext/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/_CorvaxNext/Roles/play_time_trackers.yml
Labels: Status: Needs Review, Changes: Localization, No C#

#36 brigmedic spawn roles
  Resources/Prototypes/Corvax/Maps/astra.yml
  Resources/Prototypes/Corvax/Maps/avrite.yml
  Resources/Prototypes/Corvax/Maps/delta.yml
  Resources/Prototypes/Corvax/Maps/maus.yml
  Resources/Prototypes/Corvax/Maps/paper.yml
  Resources/Prototypes/Corvax/Maps/pearl.yml
  Resources/Prototypes/Corvax/Maps/pilgrim.yml
Labels: Status: Needs Review, Changes: Map, No C#

#38 АПИИ 2
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Content.Server/GameTicking/Rules/ThiefRuleSystem.cs
  Content.Server/_CorvaxNext/Api/ApiRuleComponent.cs
  Content.Server/_CorvaxNext/Api/ApiRuleSystem.cs
  Resources/Audio/_CorvaxNext/Misc/api_greeting.ogg
  Resources/Audio/_CorvaxNext/Misc/attributions.yml
  Resources/Locale/ru-RU/_corvaxnext/api.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/objects/tools/api_toolbox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/objectives/api.ftl
  Resources/Prototypes/_CorvaxNext/GameRules/api.yml
  Resources/Prototypes/_CorvaxNext/Objectives/api.yml
Labels: Status: Needs Review, Changes: Localization

#29 [Feature] Система передачи из рук в руки
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/_CorvaxNext/OfferItem/OfferItemIndicatorsOverlay.cs
  Content.Client/_CorvaxNext/OfferItem/OfferItemSystem.cs
  Content.Server/_CorvaxNext/OfferItemSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/_CorvaxNext/Alert/Click/AcceptingOffer.cs
  Content.Shared/_CorvaxNext/NextVars.cs
  Content.Shared/_CorvaxNext/OfferItem/OfferItemComponent.cs
  Content.Shared/_CorvaxNext/OfferItem/SharedOfferItemSystem.Interactions.cs
  Content.Shared/_CorvaxNext/OfferItem/SharedOfferItemSystem.cs
  Resources/Locale/ru-RU/_corvaxnext/interaction/offer-item-system.ftl
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Textures/_CorvaxNext/Alerts/offer_item.rsi/meta.json
  Resources/Textures/_CorvaxNext/Alerts/offer_item.rsi/offer_item.png
  Resources/Textures/_CorvaxNext/Misc/give_item.rsi/give_item.png
  Resources/Textures/_CorvaxNext/Misc/give_item.rsi/meta.json
  Resources/keybinds.yml
Labels: Status: Needs Review, Changes: Sprites, Changes: Localization, Changes: UI

#45 Update README.md
  README.md
Labels: Status: Needs Review, No C#

#46 Possible TTS fix
  Content.Client/Corvax/TTS/TTSSystem.cs
Labels: Status: Needs Review

#39 shaverma
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/objects/consumable/food/shaverma.ftl
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Consumable/Food/shaverma.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_CorvaxNext/Objects/Consumable/Food/shavuha.rsi/baked.png
  Resources/Textures/_CorvaxNext/Objects/Consumable/Food/shavuha.rsi/meta.json
  Resources/Textures/_CorvaxNext/Objects/Consumable/Food/shavuha.rsi/unbaked.png
Labels: Status: Needs Review, Changes: Sprites, Changes: Localization, No C#

#48 Revert "shaverma"
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/objects/consumable/food/shaverma.ftl
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Consumable/Food/shaverma.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_CorvaxNext/Objects/Consumable/Food/shavuha.rsi/baked.png
  Resources/Textures/_CorvaxNext/Objects/Consumable/Food/shavuha.rsi/meta.json
  Resources/Textures/_CorvaxNext/Objects/Consumable/Food/shavuha.rsi/unbaked.png
Labels: Changes: Sprites, Changes: Localization, No C#

#55 [Port] Operative UI Style
  Resources/Locale/en-US/_corvaxnext/escape-menu/ui/options.ftl
  Resources/Locale/ru-RU/_corvaxnext/escape-menu/ui/options.ftl
  Resources/Prototypes/_CorvaxNext/hud.yml
  Resources/Prototypes/_CorvaxNext/themes.yml
  Resources/Textures/_CorvaxNext/Interface/Operative/SlotBackground.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/back.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/belt.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/ears.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/ears_extra.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/glasses.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/gloves.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/hand_l.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/hand_l_no_letter.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/hand_r.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/hand_r_no_letter.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/head.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/id.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/mask.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/neck.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/pocket.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/shoes.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/socks.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/suit.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/suit_storage.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/toggle-alt.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/toggle.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/underwearb.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/underweart.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/uniform.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/web.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/wrists.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Storage/piece_bottom.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Storage/piece_bottomLeft.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Storage/piece_bottomRight.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Storage/piece_center.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Storage/piece_left.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Storage/piece_right.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Storage/piece_top.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Storage/piece_topLeft.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Storage/piece_topRight.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Storage/sidebar_bottom.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Storage/sidebar_mid.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Storage/sidebar_top.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Storage/tile_blocked.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Storage/tile_blocked_opaque.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Storage/tile_empty.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Storage/tile_empty_opaque.png
  Resources/Textures/_CorvaxNext/Interface/Operative/slot_highlight.png
  Resources/Textures/_CorvaxNext/Interface/Operative/template_small.png
Labels: Changes: Localization, No C#

#61 [Tweak] Operative UI Adaptation
  Resources/Prototypes/_CorvaxNext/themes.yml
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/hand_l.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/hand_l_no_letter.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/hand_r.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/hand_r_no_letter.png
  Resources/Textures/_CorvaxNext/Interface/Operative/Slots/web.png
  Resources/Textures/_CorvaxNext/Interface/Operative/item_status_left.png
  Resources/Textures/_CorvaxNext/Interface/Operative/item_status_left_highlight.png
  Resources/Textures/_CorvaxNext/Interface/Operative/item_status_right.png
  Resources/Textures/_CorvaxNext/Interface/Operative/item_status_right_highlight.png
  Resources/Textures/_CorvaxNext/Interface/Operative/slot_highlight.png
Labels: Status: Needs Review, No C#

#57 [Port] Advanced Body Bags
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/catalog/fills/boxes/medical.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/objects/specific/medical/bodybags.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_CorvaxNext/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Specific/Medical/bodybags.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Lathes/body_bags.yml
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/bluespace.rsi/bluespacebag.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/bluespace.rsi/bluespacebag_folded.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/bluespace.rsi/label_overlay.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/bluespace.rsi/meta.json
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/bluespace.rsi/open_overlay.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/label_overlay.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/meta.json
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/ntbag.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/ntbag_folded.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/open_overlay.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/prison.rsi/label_overlay.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/prison.rsi/meta.json
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/prison.rsi/open_overlay.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/prison.rsi/prisonerbag.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/prison.rsi/prisonerbag_folded.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/radiation.rsi/label_overlay.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/radiation.rsi/meta.json
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/radiation.rsi/open_overlay.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/radiation.rsi/radiationbag.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/radiation.rsi/radiationbag_folded.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/syndicate.rsi/label_overlay.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/syndicate.rsi/meta.json
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/syndicate.rsi/open_overlay.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/syndicate.rsi/syndicatebag.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/syndicate.rsi/syndicatebag_folded.png
Labels: Changes: Sprites, Changes: Localization, No C#

#64 [Tweak] OfferItem Folder
  Content.Server/_CorvaxNext/OfferItem/OfferItemSystem.cs
Labels: Status: Needs Review

#59 Фикс следов
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/objects/effects/footstep.ftl
Labels: Status: Needs Review, Changes: Localization

#47 Извлекаемые чертежи
  Content.Client/Lathe/UI/LatheBoundUserInterface.cs
  Content.Client/Lathe/UI/LatheMenu.xaml
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/Lathe/LatheMessages.cs
  Content.Shared/Research/Systems/BlueprintSystem.cs
  Resources/Locale/ru-RU/_corvaxnext/lathe/ui/lathe-menu.ftl
Labels: Status: Needs Review, Changes: Localization, Changes: UI

#52 АПИИ 3
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Content.Server/Thief/Components/ThiefBeaconAccessComponent.cs
  Content.Server/Thief/Systems/ThiefBeaconSystem.cs
  Content.Server/Thief/Systems/ThiefUndeterminedBackpackSystem.cs
  Content.Server/_CorvaxNext/Api/ApiRuleSystem.cs
  Content.Server/_CorvaxNext/Api/Components/ApiRoleComponent.cs
  Content.Server/_CorvaxNext/Api/Components/ApiRuleComponent.cs
  Resources/Locale/ru-RU/_corvaxnext/api.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/objects/tools/api_toolbox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/objects/tools/jammer_microreactor.ftl
  Resources/Prototypes/Roles/MindRoles/mind_roles.yml
  Resources/Prototypes/_CorvaxNext/Catalog/api_toolbox_sets.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Misc/api_storage_implant.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Tools/api_toolbox.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Tools/jammer_microreactor.yml
  Resources/Prototypes/_CorvaxNext/GameRules/api.yml
  Resources/Prototypes/_CorvaxNext/Objectives/api.yml
  Resources/Prototypes/_CorvaxNext/Roles/Antags/api.yml
  Resources/Prototypes/_CorvaxNext/Roles/MindRoles/api_mind_role.yml
Labels: Status: Needs Review, Changes: Localization

#44 Zombie buff
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Shared/Zombies/PendingZombieComponent.cs
  Content.Shared/Zombies/ZombieComponent.cs
Labels: Status: Needs Review, Undergoing Maintainer Discussion

#73 [Hotfix] Хирургия части тела теперь уничтожаемы
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
Labels: Status: Needs Review

#74 [Fix] Хирургия фикс выпадения органов у частей тела вместо хотфикса
  Content.Shared/Body/Part/BodyPartComponent.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Resources/Prototypes/Body/Parts/base.yml
Labels: Status: Needs Review

#67 footsteps 2 electric boogaloo
  Resources/Prototypes/_CorvaxNext/Entities/Effects/footstep.yml
Labels: Status: Needs Review, No C#

#69 [Tweak] Remove Lizard Diete
  Resources/Prototypes/Body/Organs/reptilian.yml
Labels: Status: Needs Review, No C#

#51 Possible TTS fix 2
  Content.Client/Corvax/TTS/TTSSystem.cs
Labels: Status: Needs Review

#54 update codeowners
  .github/CODEOWNERS
Labels: Status: Needs Review, No C#

#83 [Port] Laying System
  Content.Client/Buckle/BuckleSystem.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/_CorvaxNext/Standing/LayingDownSystem.cs
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Server/_CorvaxNext/Footprints/EntitySystems/FootprintsSystem.cs
  Content.Server/_CorvaxNext/Standing/LayingDownSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Standing/StandingStateComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_CorvaxNext/NextVars.cs
  Content.Shared/_CorvaxNext/Standing/LayingDownComponent.cs
  Content.Shared/_CorvaxNext/Standing/SharedLayingDownSystem.cs
  Resources/Locale/ru-RU/_corvaxnext/escape-menu/ui/options.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/keybinds.yml
Labels: Changes: Localization, Changes: UI, S: Needs Review, size/XL

#68 [Feature] Better Lizard Markings
  Resources/Locale/en-US/_corvaxnext/markings/reptilian.ftl
  Resources/Locale/ru-RU/_corvaxnext/markings/reptilian.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/_CorvaxNext/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/meta.json
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spines_aquatic.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spines_long.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spines_longmembrane.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spines_short.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spines_shortmembrane.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_64x32.rsi/kangaroo.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_64x32.rsi/meta.json
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_64x32.rsi/snake_large.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_64x32.rsi/snake_large_overlay.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_64x32.rsi/snake_large_wagging.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_64x32.rsi/snake_large_wagging_overlay.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_64x32.rsi/western_dragon.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_64x32.rsi/western_dragon_overlay.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/cobra_hood_with_ears.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/cobra_hood_with_ears_overlay.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_argali_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_argali_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_ayrshire_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_ayrshire_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_bighorn_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_bighorn_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_curled_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_curled_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_double_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_double_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_myrsore_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_myrsore_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_ram_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_ram_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_short_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_short_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_simple_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_simple_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/meta.json
  Resources/Textures/_CorvaxNext/Mobs/Customization/snouts.rsi/eastern_dragon.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/snouts.rsi/eastern_dragon_overlay.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/snouts.rsi/eastern_dragon_usiki.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/snouts.rsi/guilmon.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/snouts.rsi/meta.json
  Resources/Textures/_CorvaxNext/Mobs/Customization/snouts.rsi/noodle.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/snouts.rsi/noodle_overlay_1.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/snouts.rsi/noodle_overlay_2.png
Labels: Changes: Sprites, Changes: Localization, No C#

#85 Revert "[Feature] Better Lizard Markings (#68)"
  Resources/Locale/en-US/_corvaxnext/markings/reptilian.ftl
  Resources/Locale/ru-RU/_corvaxnext/markings/reptilian.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/_CorvaxNext/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/meta.json
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spines_aquatic.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spines_long.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spines_longmembrane.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spines_short.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spines_shortmembrane.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_64x32.rsi/kangaroo.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_64x32.rsi/meta.json
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_64x32.rsi/snake_large.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_64x32.rsi/snake_large_overlay.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_64x32.rsi/snake_large_wagging.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_64x32.rsi/snake_large_wagging_overlay.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_64x32.rsi/western_dragon.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_64x32.rsi/western_dragon_overlay.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/cobra_hood_with_ears.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/cobra_hood_with_ears_overlay.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_argali_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_argali_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_ayrshire_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_ayrshire_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_bighorn_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_bighorn_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_curled_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_curled_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_double_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_double_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_myrsore_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_myrsore_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_ram_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_ram_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_short_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_short_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_simple_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_simple_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/meta.json
  Resources/Textures/_CorvaxNext/Mobs/Customization/snouts.rsi/eastern_dragon.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/snouts.rsi/eastern_dragon_overlay.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/snouts.rsi/eastern_dragon_usiki.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/snouts.rsi/guilmon.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/snouts.rsi/meta.json
  Resources/Textures/_CorvaxNext/Mobs/Customization/snouts.rsi/noodle.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/snouts.rsi/noodle_overlay_1.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/snouts.rsi/noodle_overlay_2.png
Labels: Changes: Sprites, Changes: Localization, Changes: No C#, S: Needs Review

#86 zombie balance fix (no more грууаааа......)
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Shared/Zombies/PendingZombieComponent.cs
  Content.Shared/Zombies/ZombieComponent.cs
Labels: S: Needs Review, S: Untriaged, size/S

#90 [Fix] Laying System SSD tries to stand up infinitely
  Content.Shared/_CorvaxNext/Standing/SharedLayingDownSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#91 MRP update ohio.ftl
  Resources/Locale/ru-RU/_CorvaxNext/accent/ohio.ftl
Labels: Changes: Localization, size/L, Changes: No C#, S: Untriaged

#93 [Hotfix] Inventory slots dissapear at roundstart
  Content.Shared/Inventory/InventorySystem.Slots.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#94 Bluspace Harvester rebalance
  Resources/Prototypes/_CorvaxNext/Entities/Structures/Machines/bluespace_harvester.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/S

#89 отключение подстольных воин
  Content.Shared/_CorvaxNext/NextVars.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#101 Fix locale directory
  Resources/Locale/ru-RU/_corvaxnext/abilitties/agillity.ftl
  Resources/Locale/ru-RU/_corvaxnext/accent/ohio.ftl
  Resources/Locale/ru-RU/_corvaxnext/accessories/resomi-hair.ftl
  Resources/Locale/ru-RU/_corvaxnext/markings/resomi.ftl
  Resources/Locale/ru-RU/_corvaxnext/reagents/biological.ftl
  Resources/Locale/ru-RU/_corvaxnext/surgery/surgery-borg-modules.ftl
Labels: Changes: Localization, Changes: No C#, size/XS

#96 Супер мелкий фикс локализации при передаче предметов
  Resources/Locale/ru-RU/_corvaxnext/interaction/offer-item-system.ftl
Labels: Changes: Localization, Changes: No C#, S: Untriaged, size/S

#99 Вязкость реагентов следов теперь не влияет на скорость движения
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Shared/Fluids/Components/PuddleComponent.cs
  Resources/Prototypes/_CorvaxNext/Entities/Effects/footstep.yml
Labels: S: Needs Review, S: Untriaged, size/S

#95 [Port] ohio accent port fixes
  Content.Server/_CorvaxNext/Speech/Components/OhioAccentComponent.cs
  Content.Server/_CorvaxNext/Speech/EntitySystems/OhioAccentSystem.cs
  Resources/Locale/en-US/_corvaxnext/accent/accents.ftl
  Resources/Prototypes/_CorvaxNext/Accents/word_replacements.yml
Labels: Changes: Localization, size/L, S: Needs Review, S: Untriaged
