Repository space-syndicate/space-station-14-next, pull requests merged in 2024-12, with the labels that each got.

#102 Анализатор семян и растений
  Content.Client/_CorvaxNext/PlantAnalyzer/UI/PlantAnalyzerBoundUserInterface.cs
  Content.Client/_CorvaxNext/PlantAnalyzer/UI/PlantAnalyzerWindow.xaml
  Content.Client/_CorvaxNext/PlantAnalyzer/UI/PlantAnalyzerWindow.xaml.cs
  Content.Server/_CorvaxNext/Botany/Components/PlantAnalyzerComponent.cs
  Content.Server/_CorvaxNext/Botany/Systems/PlantAnalyzerSystem.cs
  Content.Shared/_CorvaxNext/PlantAnalyzer/PlantAnalyzerDoAfterEvent.cs
  Content.Shared/_CorvaxNext/PlantAnalyzer/PlantAnalyzerScannedSeedPlantInformation.cs
  Content.Shared/_CorvaxNext/PlantAnalyzer/PlantAnalyzerUiKey.cs
  Resources/Locale/en-US/_corvaxnext/plantanalyzer/plantanalyzer.ftl
  Resources/Locale/ru-RU/_CorvaxNext/plantanalyzer/plantanalyzer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/objects/devices/plant_analyzer.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Devices/plant_analyzer.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Lathes/botany.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Lathes/devices.yml
  Resources/Textures/_CorvaxNext/Objects/Devices/plant_analyzer.rsi/icon.png
  Resources/Textures/_CorvaxNext/Objects/Devices/plant_analyzer.rsi/meta.json
  Resources/Textures/_CorvaxNext/Objects/Devices/plant_analyzer.rsi/plantanalyzer.png
  Resources/Textures/_CorvaxNext/Objects/Devices/plant_analyzer.rsi/unlit.png
Labels: Changes: Sprites, Changes: Localization, Changes: UI, size/L, S: Needs Review, S: Untriaged

#106 [FIX] Surgery fix ohio accent
  Content.Server/_CorvaxNext/Speech/EntitySystems/OhioAccentSystem.cs
  Resources/Prototypes/_CorvaxNext/Accents/word_replacements.yml
Labels: size/L, S: Needs Review, S: Untriaged

#109 Фиксы локали
  Resources/Locale/ru-RU/_corvaxnext/plantanalyzer.ftl
Labels: Changes: Localization, Changes: No C#, S: Untriaged, size/XS

#107 Пятиминутный тайм перед зомбификацией.
  Content.Server/_CorvaxNext/GameTicking/Rules/Components/DelayedRuleComponent.cs
  Content.Server/_CorvaxNext/GameTicking/Rules/DelayedRuleSystem.cs
  Resources/Locale/en-US/_corvaxnext/game-ticking/game-presets/preset-zombies.ftl
  Resources/Locale/ru-RU/_corvaxnext/game-ticking/game-presets/preset-zombies.ftl
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: Localization, size/L, S: Needs Review

#112 Открытие шлюзов всегда сохраняет отпечатки.
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#113 Вкус демократии
  Resources/Prototypes/game_presets.yml
Labels: Changes: No C#, size/S

#115 Сумки можно прятать под плитки пола.
  Content.Server/_CorvaxNext/Storage/AnchorableStorageComponent.cs
  Content.Server/_CorvaxNext/Storage/AnchorableStorageSystem.cs
  Resources/Locale/en-US/_corvaxnext/storage/anchorable-storage.ftl
  Resources/Locale/ru-RU/_corvaxnext/storage/anchorable-storage.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/detdrobe.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
Labels: Changes: Localization, size/L, S: Needs Review, S: Untriaged

#116 Resomi (release)
  Content.Server/_CorvaxNext/Resomi/Abilities/AgillitySkillSystem.cs
  Resources/Audio/_CorvaxNext/Voice/Resomi/resomi_cough.ogg
  Resources/Audio/_CorvaxNext/Voice/Resomi/resomi_laught.ogg
  Resources/Audio/_CorvaxNext/Voice/Resomi/resomi_sneeze.ogg
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/_CorvaxNext/Entities/Species/resomi.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Reactions/biological.yml
  Resources/Prototypes/_CorvaxNext/Species/resomi.yml
  Resources/Prototypes/_CorvaxNext/Voice/speech_emote_sounds.yml
  Resources/Textures/_CorvaxNext/Mobs/Customization/resomi_parts.rsi/tail.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/resomi_parts.rsi/tail_feathers.png
  Resources/Textures/_CorvaxNext/Mobs/Species/Resomi/displacement.rsi/belt.png
  Resources/Textures/_CorvaxNext/Mobs/Species/Resomi/displacement.rsi/head.png
  Resources/Textures/_CorvaxNext/Mobs/Species/Resomi/displacement.rsi/neck.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, size/M

#126 Улучшение механики автовызова эвакуации для зомби-раундов
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/GameTicking/Rules/ZombieRuleSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#128 micro-upstream #3
  Resources/ConfigPresets/Corvax/athara.toml
  Resources/ConfigPresets/Corvax/main.toml
  Resources/Prototypes/Corvax/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Textures/Corvax/Mobs/Species/displacement.rsi/jumpsuit-female.png
  Resources/Textures/Corvax/Mobs/Species/displacement.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/M

#129 Диктофон
  Content.Client/TapeRecorder/TapeRecorderSystem.cs
  Content.Client/TapeRecorder/Ui/TapeRecorderBoundUserInterface.cs
  Content.Client/TapeRecorder/Ui/TapeRecorderWindow.xaml
  Content.Client/TapeRecorder/Ui/TapeRecorderWindow.xaml.cs
  Content.Server/TapeRecorder/TapeRecorderSystem.cs
  Content.Shared/TapeRecorder/Components/ActiveTapeRecorderComponent.cs
  Content.Shared/TapeRecorder/Components/TapeCassetteComponent.cs
  Content.Shared/TapeRecorder/Components/TapeRecorderComponent.cs
  Content.Shared/TapeRecorder/Events/TapeRecorderEvents.cs
  Content.Shared/TapeRecorder/SharedTapeRecorderSystem.cs
  Content.Shared/TapeRecorder/TapeCassetteRecordedMessage.cs
  Resources/Audio/Items/Taperecorder/attributions.yml
  Resources/Audio/Items/Taperecorder/taperecorder_play.ogg
  Resources/Audio/Items/Taperecorder/taperecorder_rewind.ogg
  Resources/Audio/Items/Taperecorder/taperecorder_stop.ogg
  Resources/Locale/en-US/taperecorder/taperecorder.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/tape_recorder.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/taperecorder/taperecorder.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Objects/Devices/tape_recorder.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Textures/Objects/Devices/cassette_tapes.rsi/meta.json
  Resources/Textures/Objects/Devices/cassette_tapes.rsi/tape_greyscale.png
  Resources/Textures/Objects/Devices/cassette_tapes.rsi/tape_ribbonoverlay.png
  Resources/Textures/Objects/Devices/tape_recorder.rsi/inhand-left.png
  Resources/Textures/Objects/Devices/tape_recorder.rsi/inhand-right.png
  Resources/Textures/Objects/Devices/tape_recorder.rsi/meta.json
  Resources/Textures/Objects/Devices/tape_recorder.rsi/taperecorder_empty.png
  Resources/Textures/Objects/Devices/tape_recorder.rsi/taperecorder_idle.png
  Resources/Textures/Objects/Devices/tape_recorder.rsi/taperecorder_playing.png
  Resources/Textures/Objects/Devices/tape_recorder.rsi/taperecorder_recording.png
  Resources/Textures/Objects/Devices/tape_recorder.rsi/taperecorder_rewinding.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/recorder.png
Labels: Changes: Sprites, Changes: Localization, Changes: UI, S: Needs Review, size/XL, S: Untriaged

#125 Audio Admin Panel
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Content.Client/_CorvaxNext/Administration/UI/Audio/AdminAudioPanelEui.cs
  Content.Client/_CorvaxNext/Administration/UI/Audio/Widgets/AdminAudioPanel.xaml
  Content.Client/_CorvaxNext/Administration/UI/Audio/Widgets/AdminAudioPanel.xaml.cs
  Content.Server/_CorvaxNext/Administration/UI/Audio/AdminAudioPanelEui.cs
  Content.Server/_CorvaxNext/Administration/UI/Audio/AdminAudioPanelSystem.cs
  Content.Server/_CorvaxNext/Administration/UI/Audio/Commands/OpenAudioPanelCommand.cs
  Content.Shared/_CorvaxNext/Administration/UI/Audio/AdminAudioPanelEuiState.cs
  Resources/Locale/ru-RU/_CorvaxNext/audio/widgets/admin-audio-panel.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/admin-tab/player-actions-window.ftl
Labels: Changes: Localization, Changes: UI, size/L, S: Needs Review

#135 Revert "Audio Admin Panel"
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Content.Client/_CorvaxNext/Administration/UI/Audio/AdminAudioPanelEui.cs
  Content.Client/_CorvaxNext/Administration/UI/Audio/Widgets/AdminAudioPanel.xaml
  Content.Client/_CorvaxNext/Administration/UI/Audio/Widgets/AdminAudioPanel.xaml.cs
  Content.Server/_CorvaxNext/Administration/UI/Audio/AdminAudioPanelEui.cs
  Content.Server/_CorvaxNext/Administration/UI/Audio/AdminAudioPanelSystem.cs
  Content.Server/_CorvaxNext/Administration/UI/Audio/Commands/OpenAudioPanelCommand.cs
  Content.Shared/_CorvaxNext/Administration/UI/Audio/AdminAudioPanelEuiState.cs
  Resources/Locale/ru-RU/_CorvaxNext/audio/widgets/admin-audio-panel.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/admin-tab/player-actions-window.ftl
Labels: size/L, S: Needs Review, S: Untriaged

#114 Их разыскивает Полиция.
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/SecWatchEntryControl.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/SecWatchEntryControl.xaml.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/SecWatchUi.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/SecWatchUiFragment.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/SecWatchUiFragment.xaml.cs
  Content.Server/_CorvaxNext/CartridgeLoader/Cartridges/SecWatchCartridgeComponent.cs
  Content.Server/_CorvaxNext/CartridgeLoader/Cartridges/SecWatchCartridgeSystem.cs
  Content.Shared/_CorvaxNext/CartridgeLoader/Cartridges/SecWatchUiState.cs
  Resources/Locale/en-US/_corvaxnext/cartridge-loader/secwatch.ftl
  Resources/Locale/ru-RU/_corvaxnext/cartridge-loader/secwatch.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/objects/devices/cartriges.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Devices/cartridges.yml
  Resources/Textures/_CorvaxNext/Objects/Devices/cartridge.rsi/cart-cri.png
  Resources/Textures/_CorvaxNext/Objects/Devices/cartridge.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: UI, size/L, S: Untriaged

#137 Change offer_item icon
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Textures/_CorvaxNext/Alerts/offer_item.rsi/meta.json
  Resources/Textures/_CorvaxNext/Alerts/offer_item.rsi/offer_item.png
  Resources/Textures/_CorvaxNext/Interface/Alerts/offer_item.rsi/meta.json
  Resources/Textures/_CorvaxNext/Interface/Alerts/offer_item.rsi/offer_item.png
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, S: Untriaged, size/M

#104 Night and thermal vision device
  Content.Client/_CorvaxNext/Overlays/BaseSwitchableOverlay.cs
  Content.Client/_CorvaxNext/Overlays/NightVisionSystem.cs
  Content.Client/_CorvaxNext/Overlays/ThermalVisionOverlay.cs
  Content.Client/_CorvaxNext/Overlays/ThermalVisionSystem.cs
  Content.Server/_CorvaxNext/Overlays/NightVisionSystem.cs
  Content.Server/_CorvaxNext/Overlays/ThermalVisionSystem.cs
  Content.Shared/_CorvaxNext/Clothing/Components/ClothingGrantComponentComponent.cs
  Content.Shared/_CorvaxNext/Clothing/Components/ClothingGrantTagComponent.cs
  Content.Shared/_CorvaxNext/Clothing/Systems/ClothingGrantingSystem.cs
  Content.Shared/_CorvaxNext/Overlays/BaseOverlayComponent.cs
  Content.Shared/_CorvaxNext/Overlays/NightVisionComponent.cs
  Content.Shared/_CorvaxNext/Overlays/SwitchableOverlayComponent.cs
  Content.Shared/_CorvaxNext/Overlays/SwitchableOverlaySystem.cs
  Content.Shared/_CorvaxNext/Overlays/ThermalInvisibilityComponent.cs
  Content.Shared/_CorvaxNext/Overlays/ThermalVisionComponent.cs
  Resources/Audio/_CorvaxNext/Items/Goggles/activate.ogg
  Resources/Audio/_CorvaxNext/Items/Goggles/attributions.yml
  Resources/Audio/_CorvaxNext/Items/Goggles/deactivate.ogg
  Resources/Locale/en-US/_corvaxnext/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_CorvaxNext/entities/clothing/eyes/goggles.ftl
  Resources/Locale/ru-RU/_CorvaxNext/prototypes/actions/types.ftl
  Resources/Locale/ru-RU/_CorvaxNext/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_CorvaxNext/Actions/types.yml
  Resources/Prototypes/_CorvaxNext/Catalog/uplink_catalog.yml
  Resources/Prototypes/_CorvaxNext/Entities/Clothing/Eyes/goggles.yml
  Resources/Prototypes/_CorvaxNext/Research/experimental.yml
  Resources/Prototypes/_CorvaxNext/Shaders/shaders.yml
  Resources/Textures/_CorvaxNext/Clothing/Eyes/Goggles/nightvision.rsi/equipped-EYES-off.png
  Resources/Textures/_CorvaxNext/Clothing/Eyes/Goggles/nightvision.rsi/equipped-EYES.png
  Resources/Textures/_CorvaxNext/Clothing/Eyes/Goggles/nightvision.rsi/icon.png
  Resources/Textures/_CorvaxNext/Clothing/Eyes/Goggles/nightvision.rsi/inhand-left.png
  Resources/Textures/_CorvaxNext/Clothing/Eyes/Goggles/nightvision.rsi/inhand-right.png
  Resources/Textures/_CorvaxNext/Clothing/Eyes/Goggles/nightvision.rsi/meta.json
  Resources/Textures/_CorvaxNext/Clothing/Eyes/Goggles/thermal.rsi/equipped-EYES.png
  Resources/Textures/_CorvaxNext/Clothing/Eyes/Goggles/thermal.rsi/icon.png
  Resources/Textures/_CorvaxNext/Clothing/Eyes/Goggles/thermal.rsi/inhand-left.png
  Resources/Textures/_CorvaxNext/Clothing/Eyes/Goggles/thermal.rsi/inhand-right.png
  Resources/Textures/_CorvaxNext/Clothing/Eyes/Goggles/thermal.rsi/meta.json
  Resources/Textures/_CorvaxNext/Shaders/nightvision.swsl
Labels: Changes: Sprites, Changes: Localization, size/L, S: Untriaged, Changes: Shaders

#139 Bluespace update
  Content.Client/_CorvaxNext/BluespaceHarvester/BluespaceHarvesterMenu.xaml
  Content.Client/_CorvaxNext/BluespaceHarvester/BluespaceHarvesterMenu.xaml.cs
  Content.Server/_CorvaxNext/BluespaceHarvester/BluespaceHarvesterComponent.cs
  Content.Server/_CorvaxNext/BluespaceHarvester/BluespaceHarvesterSystem.cs
  Content.Shared/_CorvaxNext/BluespaceHarvester/BluespaceHarvesterUi.cs
  Resources/Locale/en-US/_corvaxnext/bluespace_harvester.ftl
  Resources/Locale/ru-RU/_corvaxnext/bluespace_harvester.ftl
  Resources/Locale/ru-RU/_corvaxnext/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/_corvaxnext/entities/objects/misc/parts.ftl
  Resources/Locale/ru-RU/_corvaxnext/entities/structures/machines/bluespace_harvester.ftl
  Resources/Locale/ru-RU/_corvaxnext/entities/structures/power/substations.ftl
  Resources/Locale/ru-RU/_corvaxnext/wires/wire-names.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Misc/parts.yml
  Resources/Prototypes/_CorvaxNext/Entities/Structures/Machines/bluespace_harvester.yml
  Resources/Prototypes/_CorvaxNext/Entities/Structures/Power/substations.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Lathes/parts.yml
  Resources/Prototypes/_CorvaxNext/Research/experimental.yml
  Resources/Prototypes/_CorvaxNext/Stacks/science_stacks.yml
  Resources/Prototypes/_CorvaxNext/Wires/layouts.yml
  Resources/Prototypes/_CorvaxNext/explosion.yml
  Resources/Prototypes/_CorvaxNext/tags.yml
  Resources/Textures/_CorvaxNext/Objects/Structures/Power/bluespace_transitor.rsi/beam.png
  Resources/Textures/_CorvaxNext/Objects/Structures/Power/bluespace_transitor.rsi/display.png
  Resources/Textures/_CorvaxNext/Objects/Structures/Power/bluespace_transitor.rsi/idle.png
  Resources/Textures/_CorvaxNext/Objects/Structures/Power/bluespace_transitor.rsi/meta.json
  Resources/Textures/_CorvaxNext/Objects/Structures/Power/bluespace_transitor.rsi/offline.png
Labels: Changes: Sprites, Changes: Localization, Changes: UI, size/L, S: Needs Review, Status: Awaiting Changes

#140 Update BluespaceHarvesterSystem.cs
  Content.Server/_CorvaxNext/BluespaceHarvester/BluespaceHarvesterSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#141 Less BSH cost
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Lathes/parts.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#133 NoScope 360 AWP kill
  Content.Shared/CombatMode/CombatModeComponent.cs
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#144 Дворфы больше не бесполезны.
  Content.Shared/Mining/MiningScannerSystem.cs
  Content.Shared/_CorvaxNext/Mining/Components/InnateMiningScannerViewerComponent.cs
  Content.Shared/_CorvaxNext/Mining/MiningScannerSystem.Innate.cs
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/ServerInfo/Guidebook/Mobs/Dwarf.xml
Labels: S: Needs Review, S: Untriaged, size/M

#143 Плата мед. биофаба в шкафчике СМО
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#142 Изучаемый мед. фабрикатор
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Circuitboards/production.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Lathes/circuit_boards.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/S

#145 Жетоны Службы Безопасности
  Resources/Locale/ru-RU/_CorvaxNext/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/clothing/neck/secbadge.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/objectives/thief.ftl
  Resources/Prototypes/Corvax/Roles/Jobs/Security/pilot.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_CorvaxNext/Entities/Clothing/Neck/secbadge.yml
  Resources/Prototypes/_CorvaxNext/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_CorvaxNext/Objectives/thief.yml
  Resources/Prototypes/_CorvaxNext/Roles/Jobs/Security/brigmedic.yml
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/brigmedbadge.rsi/equipped-NECK.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/brigmedbadge.rsi/icon.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/brigmedbadge.rsi/inhand-left.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/brigmedbadge.rsi/inhand-right.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/brigmedbadge.rsi/meta.json
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/cadetbadge.rsi/equipped-NECK.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/cadetbadge.rsi/icon.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/cadetbadge.rsi/inhand-left.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/cadetbadge.rsi/inhand-right.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/cadetbadge.rsi/meta.json
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/detbadge.rsi/equipped-NECK.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/detbadge.rsi/icon.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/detbadge.rsi/inhand-left.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/detbadge.rsi/inhand-right.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/detbadge.rsi/meta.json
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/hosbadge.rsi/equipped-NECK.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/hosbadge.rsi/icon.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/hosbadge.rsi/inhand-left.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/hosbadge.rsi/inhand-right.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/hosbadge.rsi/meta.json
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/officerbadge.rsi/equipped-NECK.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/officerbadge.rsi/icon.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/officerbadge.rsi/inhand-left.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/officerbadge.rsi/inhand-right.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/officerbadge.rsi/meta.json
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/pilotbadge.rsi/equipped-NECK.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/pilotbadge.rsi/icon.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/pilotbadge.rsi/inhand-left.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/pilotbadge.rsi/inhand-right.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/pilotbadge.rsi/meta.json
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/wardenbadge.rsi/equipped-NECK.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/wardenbadge.rsi/icon.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/wardenbadge.rsi/inhand-left.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/wardenbadge.rsi/inhand-right.png
  Resources/Textures/_CorvaxNext/Clothing/Neck/SecBadge/wardenbadge.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/L, Changes: No C#, S: Needs Review, S: Untriaged, Status: Awaiting Changes

#147 [Port] Случайные выстрелы при падении оружия
  Content.Server/_CorvaxNext/Weapons/Ranged/Systems/FireOnDropSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: S: Needs Review, S: Untriaged, size/M

#148 Электрический стул.
  Content.Server/_CorvaxNext/ExecutionChair/ExecutionChairComponent.cs
  Content.Server/_CorvaxNext/ExecutionChair/ExecutionChairSystem.cs
  Resources/Locale/ru-RU/_CorvaxNext/executionchair/executionchair.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/structures/machines/execution_chair.ftl
  Resources/Prototypes/_CorvaxNext/Entities/Structures/Machines/execution_chair.yml
  Resources/Textures/_CorvaxNext/Structures/Furniture/execution_chair.rsi/execution-chair.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/execution_chair.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/L, S: Needs Review

#151 [Port] Акцент "Тихоня"
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/_CorvaxNext/Speech/HushedComponent.cs
  Resources/Locale/ru-RU/_CorvaxNext/traits/traits.ftl
  Resources/Prototypes/_CorvaxNext/Traits/speech.yml
Labels: Changes: Localization, S: Needs Review, S: Untriaged

#152 Опять поднял гит
  Resources/Locale/ru-RU/_corvaxnext/entities/clothing/eyes/goggles.ftl
  Resources/Locale/ru-RU/_corvaxnext/executionchair/executionchair.ftl
  Resources/Locale/ru-RU/_corvaxnext/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/ru-RU/_corvaxnext/prototypes/actions/types.ftl
  Resources/Locale/ru-RU/_corvaxnext/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_corvaxnext/traits/traits.ftl
Labels: Changes: Localization, Changes: No C#, size/XS

#153 [PORT] Система обмена сообщениями в КПК
  Content.Client/Access/UI/AgentIDCardBoundUserInterface.cs
  Content.Client/Access/UI/AgentIDCardWindow.xaml
  Content.Client/Access/UI/AgentIDCardWindow.xaml.cs
  Content.Client/CartridgeLoader/Cartridges/LogProbeUi.cs
  Content.Client/CartridgeLoader/Cartridges/LogProbeUiFragment.xaml
  Content.Client/CartridgeLoader/Cartridges/LogProbeUiFragment.xaml.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatEntry.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatEntry.xaml.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatLogEntry.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatLogEntry.xaml.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatMessageBubble.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatMessageBubble.xaml.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatUi.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NewChatPopup.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NewChatPopup.xaml.cs
  Content.Client/_CorvaxNext/NanoChat/NanoChatSystem.cs
  Content.Server/Access/Systems/AgentIDCardSystem.cs
  Content.Server/CartridgeLoader/Cartridges/LogProbeCartridgeComponent.cs
  Content.Server/CartridgeLoader/Cartridges/LogProbeCartridgeSystem.cs
  Content.Server/_CorvaxNext/CartridgeLoader/Cartridges/LogProbeCartridgeSystem.NanoChat.cs
  Content.Server/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatCartridgeComponent.cs
  Content.Server/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
  Content.Server/_CorvaxNext/NanoChat/NanoChatSystem.cs
  Content.Shared/Access/SharedAgentIDCardSystem.cs
  Content.Shared/CartridgeLoader/Cartridges/LogProbeUiState.cs
  Content.Shared/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatUiMessageEvent.cs
  Content.Shared/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatUiState.cs
  Content.Shared/_CorvaxNext/NanoChat/NanoChatCardComponent.cs
  Content.Shared/_CorvaxNext/NanoChat/SharedNanoChatSystem.cs
  Resources/Locale/en-US/_corvaxnext/access/components/agent-id-card-component.ftl
  Resources/Locale/en-US/_corvaxnext/cartridge-loader/nanochat.ftl
  Resources/Locale/en-US/_corvaxnext/nanochat/components/nanochat-card-component.ftl
  Resources/Locale/ru-RU/_corvaxnext/access/components/agent-id-card-component.ftl
  Resources/Locale/ru-RU/_corvaxnext/cartridge-loader/nanochat.ftl
  Resources/Locale/ru-RU/_corvaxnext/nanochat/components/nanochat-card-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/objects/devices/cartriges.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/_CorvaxNext/name_identifier_groups.yml
  Resources/Textures/_CorvaxNext/Interface/VerbIcons/ATTRIBUTION.txt
  Resources/Textures/_CorvaxNext/Interface/VerbIcons/bell.svg
  Resources/Textures/_CorvaxNext/Interface/VerbIcons/bell.svg.png
  Resources/Textures/_CorvaxNext/Interface/VerbIcons/bell_muted.png
  Resources/Textures/_CorvaxNext/Misc/program_icons.rsi/meta.json
  Resources/Textures/_CorvaxNext/Misc/program_icons.rsi/nanochat.png
  Resources/Textures/_CorvaxNext/Objects/Devices/cartridge.rsi/cart-chat.png
  Resources/Textures/_CorvaxNext/Objects/Devices/cartridge.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: UI, S: Needs Review, size/XL, S: Untriaged

#154 Revert "[PORT] Система обмена сообщениями в КПК"
  Content.Client/Access/UI/AgentIDCardBoundUserInterface.cs
  Content.Client/Access/UI/AgentIDCardWindow.xaml
  Content.Client/Access/UI/AgentIDCardWindow.xaml.cs
  Content.Client/CartridgeLoader/Cartridges/LogProbeUi.cs
  Content.Client/CartridgeLoader/Cartridges/LogProbeUiFragment.xaml
  Content.Client/CartridgeLoader/Cartridges/LogProbeUiFragment.xaml.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatEntry.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatEntry.xaml.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatLogEntry.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatLogEntry.xaml.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatMessageBubble.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatMessageBubble.xaml.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatUi.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NewChatPopup.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NewChatPopup.xaml.cs
  Content.Client/_CorvaxNext/NanoChat/NanoChatSystem.cs
  Content.Server/Access/Systems/AgentIDCardSystem.cs
  Content.Server/CartridgeLoader/Cartridges/LogProbeCartridgeComponent.cs
  Content.Server/CartridgeLoader/Cartridges/LogProbeCartridgeSystem.cs
  Content.Server/_CorvaxNext/CartridgeLoader/Cartridges/LogProbeCartridgeSystem.NanoChat.cs
  Content.Server/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatCartridgeComponent.cs
  Content.Server/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
  Content.Server/_CorvaxNext/NanoChat/NanoChatSystem.cs
  Content.Shared/Access/SharedAgentIDCardSystem.cs
  Content.Shared/CartridgeLoader/Cartridges/LogProbeUiState.cs
  Content.Shared/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatUiMessageEvent.cs
  Content.Shared/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatUiState.cs
  Content.Shared/_CorvaxNext/NanoChat/NanoChatCardComponent.cs
  Content.Shared/_CorvaxNext/NanoChat/SharedNanoChatSystem.cs
  Resources/Locale/en-US/_corvaxnext/access/components/agent-id-card-component.ftl
  Resources/Locale/en-US/_corvaxnext/cartridge-loader/nanochat.ftl
  Resources/Locale/en-US/_corvaxnext/nanochat/components/nanochat-card-component.ftl
  Resources/Locale/ru-RU/_corvaxnext/access/components/agent-id-card-component.ftl
  Resources/Locale/ru-RU/_corvaxnext/cartridge-loader/nanochat.ftl
  Resources/Locale/ru-RU/_corvaxnext/nanochat/components/nanochat-card-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/objects/devices/cartriges.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/_CorvaxNext/name_identifier_groups.yml
  Resources/Textures/_CorvaxNext/Interface/VerbIcons/ATTRIBUTION.txt
  Resources/Textures/_CorvaxNext/Interface/VerbIcons/bell.svg
  Resources/Textures/_CorvaxNext/Interface/VerbIcons/bell.svg.png
  Resources/Textures/_CorvaxNext/Interface/VerbIcons/bell_muted.png
  Resources/Textures/_CorvaxNext/Misc/program_icons.rsi/meta.json
  Resources/Textures/_CorvaxNext/Misc/program_icons.rsi/nanochat.png
  Resources/Textures/_CorvaxNext/Objects/Devices/cartridge.rsi/cart-chat.png
  Resources/Textures/_CorvaxNext/Objects/Devices/cartridge.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: UI, S: Needs Review, S: Untriaged

#156 [Port] Flags
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/structures/wallmounts/flags.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_CorvaxNext/Entities/Structures/Wallmounts/flags.yml
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/agurk.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/coder.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/goldring.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/hca.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/inteq.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/lizard.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/meta.json
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/mothic.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/nri.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/nt.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/shigu.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/solfed.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/solfed_alt.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/soviet.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/syndicate.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/tizira.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/vulp.png
  Resources/migration.yml
Labels: Changes: Sprites, Changes: Localization, Changes: No C#, S: Untriaged

#157 Revert "[Port] Flags"
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/structures/wallmounts/flags.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_CorvaxNext/Entities/Structures/Wallmounts/flags.yml
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/agurk.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/coder.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/goldring.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/hca.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/inteq.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/lizard.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/meta.json
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/mothic.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/nri.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/nt.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/shigu.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/solfed.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/solfed_alt.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/soviet.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/syndicate.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/tizira.png
  Resources/Textures/_CorvaxNext/Structures/Wallmounts/flags.rsi/vulp.png
  Resources/migration.yml
Labels: Changes: Sprites, Changes: Localization, size/L, Changes: No C#

#155 Revert "Revert "[PORT] Система обмена сообщениями в КПК""
  Content.Client/Access/UI/AgentIDCardBoundUserInterface.cs
  Content.Client/Access/UI/AgentIDCardWindow.xaml
  Content.Client/Access/UI/AgentIDCardWindow.xaml.cs
  Content.Client/CartridgeLoader/Cartridges/LogProbeUi.cs
  Content.Client/CartridgeLoader/Cartridges/LogProbeUiFragment.xaml
  Content.Client/CartridgeLoader/Cartridges/LogProbeUiFragment.xaml.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatEntry.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatEntry.xaml.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatLogEntry.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatLogEntry.xaml.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatMessageBubble.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatMessageBubble.xaml.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatUi.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NewChatPopup.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/NewChatPopup.xaml.cs
  Content.Client/_CorvaxNext/NanoChat/NanoChatSystem.cs
  Content.Server/Access/Systems/AgentIDCardSystem.cs
  Content.Server/CartridgeLoader/Cartridges/LogProbeCartridgeComponent.cs
  Content.Server/CartridgeLoader/Cartridges/LogProbeCartridgeSystem.cs
  Content.Server/_CorvaxNext/CartridgeLoader/Cartridges/LogProbeCartridgeSystem.NanoChat.cs
  Content.Server/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatCartridgeComponent.cs
  Content.Server/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
  Content.Server/_CorvaxNext/NanoChat/NanoChatSystem.cs
  Content.Shared/Access/SharedAgentIDCardSystem.cs
  Content.Shared/CartridgeLoader/Cartridges/LogProbeUiState.cs
  Content.Shared/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatUiMessageEvent.cs
  Content.Shared/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatUiState.cs
  Content.Shared/_CorvaxNext/NanoChat/NanoChatCardComponent.cs
  Content.Shared/_CorvaxNext/NanoChat/SharedNanoChatSystem.cs
  Resources/Locale/en-US/_corvaxnext/access/components/agent-id-card-component.ftl
  Resources/Locale/en-US/_corvaxnext/cartridge-loader/nanochat.ftl
  Resources/Locale/en-US/_corvaxnext/nanochat/components/nanochat-card-component.ftl
  Resources/Locale/ru-RU/_corvaxnext/access/components/agent-id-card-component.ftl
  Resources/Locale/ru-RU/_corvaxnext/cartridge-loader/nanochat.ftl
  Resources/Locale/ru-RU/_corvaxnext/nanochat/components/nanochat-card-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/objects/devices/cartriges.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/_CorvaxNext/name_identifier_groups.yml
  Resources/Textures/_CorvaxNext/Interface/VerbIcons/ATTRIBUTION.txt
  Resources/Textures/_CorvaxNext/Interface/VerbIcons/bell.svg
  Resources/Textures/_CorvaxNext/Interface/VerbIcons/bell.svg.png
  Resources/Textures/_CorvaxNext/Interface/VerbIcons/bell_muted.png
  Resources/Textures/_CorvaxNext/Misc/program_icons.rsi/meta.json
  Resources/Textures/_CorvaxNext/Misc/program_icons.rsi/nanochat.png
  Resources/Textures/_CorvaxNext/Objects/Devices/cartridge.rsi/cart-chat.png
  Resources/Textures/_CorvaxNext/Objects/Devices/cartridge.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: UI, S: Needs Review, size/XL, S: Untriaged

#158 Помощник по КЗ
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/CrimeAssistUi.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/CrimeAssistUiFragment.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/CrimeAssistUiFragment.xaml.cs
  Content.Server/_CorvaxNext/CartridgeLoader/CrimeAssistCartridgeComponent.cs
  Content.Server/_CorvaxNext/CartridgeLoader/CrimeAssistCartridgeSystem.cs
  Content.Shared/_CorvaxNext/CartridgeLoader/Cartridges/CrimeAssistPage.cs
  Content.Shared/_CorvaxNext/CartridgeLoader/Cartridges/CrimeAssistUiState.cs
  Resources/Locale/ru-RU/_corvaxnext/cartridge-loader/crimeassist/base.ftl
  Resources/Locale/ru-RU/_corvaxnext/cartridge-loader/crimeassist/corporation-laws.ftl
  Resources/Locale/ru-RU/_corvaxnext/cartridge-loader/crimeassist/person-laws.ftl
  Resources/Locale/ru-RU/_corvaxnext/cartridge-loader/crimeassist/property-laws.ftl
  Resources/Locale/ru-RU/_corvaxnext/cartridge-loader/crimeassist/public-order-laws.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/objects/devices/cartriges.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_CorvaxNext/CrimeAssist/corporationlaws.yml
  Resources/Prototypes/_CorvaxNext/CrimeAssist/crimeassistflow.yml
  Resources/Prototypes/_CorvaxNext/CrimeAssist/personallaws.yml
  Resources/Prototypes/_CorvaxNext/CrimeAssist/propertylaws.yml
  Resources/Prototypes/_CorvaxNext/CrimeAssist/publicorderlaws.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Devices/cartridges.yml
  Resources/Textures/_CorvaxNext/Icons/cri.rsi/cri.png
  Resources/Textures/_CorvaxNext/Icons/cri.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: UI, S: Needs Review, size/XL, S: Untriaged

#146 Adds Surgeon role & surgical belt
  Resources/Locale/en-US/_corvaxnext/job/job-description.ftl
  Resources/Locale/en-US/_corvaxnext/job/job-names.ftl
  Resources/Locale/ru-RU/_corvaxnext/job/job-description.ftl
  Resources/Locale/ru-RU/_corvaxnext/job/job-names.ftl
  Resources/Locale/ru-RU/_corvaxnext/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/clothing/belt/belts.ftl
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_CorvaxNext/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_CorvaxNext/Loadouts/Jobs/Medical/surgeon.yml
  Resources/Prototypes/_CorvaxNext/Loadouts/loadout_groups.yml
  Resources/Prototypes/_CorvaxNext/Loadouts/role_loadouts.yml
  Resources/Prototypes/_CorvaxNext/Roles/Jobs/Medical/surgeon.yml
  Resources/Prototypes/_CorvaxNext/Roles/play_time_trackers.yml
  Resources/Prototypes/_CorvaxNext/StatusIcon/job.yml
  Resources/Prototypes/_CorvaxNext/tags.yml
  Resources/Textures/_CorvaxNext/Clothing/Belt/belt_overlay.rsi/advancedRetractor-equipped-BELT.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/belt_overlay.rsi/advancedRetractor.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/belt_overlay.rsi/cautery-equipped-BELT.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/belt_overlay.rsi/cautery.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/belt_overlay.rsi/drill-equipped-BELT.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/belt_overlay.rsi/drill.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/belt_overlay.rsi/energyCautery-equipped-BELT.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/belt_overlay.rsi/energyCautery.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/belt_overlay.rsi/energyScalpel-equipped-BELT.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/belt_overlay.rsi/energyScalpel.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/belt_overlay.rsi/hemostat-equipped-BELT.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/belt_overlay.rsi/hemostat.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/belt_overlay.rsi/meta.json
  Resources/Textures/_CorvaxNext/Clothing/Belt/belt_overlay.rsi/retractor-equipped-BELT.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/belt_overlay.rsi/retractor.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/belt_overlay.rsi/sawElectric-equipped-BELT.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/belt_overlay.rsi/sawElectric.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/belt_overlay.rsi/scalpel-equipped-BELT.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/belt_overlay.rsi/scalpel.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/belt_overlay.rsi/scalpelLaser-equipped-BELT.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/belt_overlay.rsi/scalpelLaser.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/surgical_board.rsi/equipped-BELT.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/surgical_board.rsi/icon.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/surgical_board.rsi/inhand-left.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/surgical_board.rsi/inhand-right.png
  Resources/Textures/_CorvaxNext/Clothing/Belt/surgical_board.rsi/meta.json
  Resources/Textures/_CorvaxNext/Interface/Misc/job_icons.rsi/Surgeon.png
  Resources/Textures/_CorvaxNext/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/L, Changes: No C#, S: Needs Review, S: Untriaged

#121 Dynamic Hostname System
  Content.Server/_CorvaxNext/DynamicHostname/DynamicHostnameSystem.cs
  Resources/Locale/ru-RU/_CorvaxNext/dynamichostname/hostname.ftl
Labels: Changes: Localization, S: Needs Review, S: Untriaged, size/M

#161 spawnroles
  Resources/Prototypes/Corvax/Maps/astra.yml
  Resources/Prototypes/Corvax/Maps/avrite.yml
  Resources/Prototypes/Corvax/Maps/awesome.yml
  Resources/Prototypes/Corvax/Maps/delta.yml
  Resources/Prototypes/Corvax/Maps/maus.yml
  Resources/Prototypes/Corvax/Maps/paper.yml
  Resources/Prototypes/Corvax/Maps/pilgrim.yml
  Resources/Prototypes/Corvax/Maps/tushkan.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, S: Untriaged, size/S

#162 Rewrite BSH Goal
  Resources/Locale/ru-RU/_corvaxnext/station-goal/station-goal-component.ftl
Labels: Changes: Localization, Changes: No C#, S: Untriaged, size/S

#163 Update Surgeon role playtime
  Resources/Prototypes/_CorvaxNext/Roles/Jobs/Medical/surgeon.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#164 Enable surgeon spawnpoint
  Resources/Prototypes/Corvax/Entities/Markers/Spawners/jobs.yml
Labels: Changes: No C#, S: Needs Review, size/XS

#165 Adds Surgeon PDA
  Resources/Locale/ru-RU/_CorvaxNext/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/_CorvaxNext/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Prototypes/Corvax/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_CorvaxNext/Roles/Jobs/Medical/surgeon.yml
  Resources/Textures/Markers/jobs.rsi/meta.json
  Resources/Textures/Markers/jobs.rsi/surgeon.png
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-surgeon.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idsurgeon.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: No C#, S: Needs Review, S: Untriaged, size/M

#166 Биржевая торговля
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/PriceHistoryTable.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/PriceHistoryTable.xaml.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/StockTradingUi.cs
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/StockTradingUiFragment.xaml
  Content.Client/_CorvaxNext/CartridgeLoader/Cartridges/StockTradingUiFragment.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/_CorvaxNext/Cargo/Components/StationStockMarketComponent.cs
  Content.Server/_CorvaxNext/Cargo/StocksCommands.cs
  Content.Server/_CorvaxNext/Cargo/Systems/StockMarketSystem.cs
  Content.Server/_CorvaxNext/CartridgeLoader/Cartridges/StockTradingCartridgeComponent.cs
  Content.Server/_CorvaxNext/CartridgeLoader/Cartridges/StockTradingCartridgeSystem.cs
  Content.Shared/_CorvaxNext/CartridgeLoader/Cartridges/StockTradingUiMessageEvent.cs
  Content.Shared/_CorvaxNext/CartridgeLoader/Cartridges/StockTradingUiState.cs
  Resources/Locale/en-US/_corvaxnext/cargo/stocks-commands.ftl
  Resources/Locale/ru-RU/_CorvaxNext/cargo/stocks-comapnies.ftl
  Resources/Locale/ru-RU/_CorvaxNext/cargo/stocks-commands.ftl
  Resources/Locale/ru-RU/_CorvaxNext/cartridge-loader/stocktrading.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/objects/devices/cartriges.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/_CorvaxNext/Entities/Stations/base.yml
  Resources/Textures/_CorvaxNext/Misc/program_icons.rsi/meta.json
  Resources/Textures/_CorvaxNext/Misc/program_icons.rsi/stock_trading.png
  Resources/Textures/_CorvaxNext/Objects/Devices/cartridge.rsi/cart-stonk.png
  Resources/Textures/_CorvaxNext/Objects/Devices/cartridge.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: UI, S: Needs Review, size/XL, S: Untriaged

#169 Update solaris.toml
  Resources/ConfigPresets/Corvax/solaris.toml
Labels: Changes: No C#, S: Untriaged

#170 Поднял гит
  Resources/Locale/ru-RU/_corvaxnext/cargo/stocks-comapnies.ftl
  Resources/Locale/ru-RU/_corvaxnext/cargo/stocks-commands.ftl
  Resources/Locale/ru-RU/_corvaxnext/cartridge-loader/stocktrading.ftl
  Resources/Locale/ru-RU/_corvaxnext/dynamichostname/hostname.ftl
  Resources/Locale/ru-RU/_corvaxnext/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/_corvaxnext/prototypes/entities/objects/misc/identification_cards.ftl
Labels: Changes: Localization, Changes: No C#, size/XS

#171 Отключение системы настроений
  Resources/ConfigPresets/Corvax/common.toml
Labels: Changes: No C#, S: Untriaged, size/XS

#175 Умный холодильник.
  Content.Client/_CorvaxNext/Medical/SmartFridge/SmartFridgeBoundUserInterface.cs
  Content.Client/_CorvaxNext/Medical/SmartFridge/SmartFridgeSystem.cs
  Content.Client/_CorvaxNext/Medical/SmartFridge/UI/SmartFridgeMenu.xaml
  Content.Client/_CorvaxNext/Medical/SmartFridge/UI/SmartFridgeMenu.xaml.cs
  Content.Server/_CorvaxNext/Medical/SmartFridge/SmartFridgeSystem.cs
  Content.Shared/_CorvaxNext/Medical/SmartFridge/SharedSmartFridgeSystem.cs
  Content.Shared/_CorvaxNext/Medical/SmartFridge/SmartFridgeComponent.cs
  Resources/Locale/ru-RU/_corvaxnext/reagents/biological.ftl
  Resources/Locale/ru-RU/_corvaxnext/smartfridge/smartfridge.ftl
  Resources/Prototypes/Entities/Structures/Machines/smartfridge.yml
Labels: Changes: Localization, Changes: UI, size/L, S: Needs Review

#177 Cringe fridge
  Content.Client/_CorvaxNext/Medical/SmartFridge/SmartFridgeBoundUserInterface.cs
  Content.Client/_CorvaxNext/Medical/SmartFridge/SmartFridgeSystem.cs
  Content.Client/_CorvaxNext/Medical/SmartFridge/UI/SmartFridgeMenu.xaml
  Content.Client/_CorvaxNext/Medical/SmartFridge/UI/SmartFridgeMenu.xaml.cs
  Content.Server/_CorvaxNext/Medical/SmartFridge/SmartFridgeSystem.cs
  Content.Shared/_CorvaxNext/Medical/SmartFridge/SharedSmartFridgeSystem.cs
  Content.Shared/_CorvaxNext/Medical/SmartFridge/SmartFridgeComponent.cs
  Resources/Locale/ru-RU/_corvaxnext/reagents/biological.ftl
  Resources/Locale/ru-RU/_corvaxnext/smartfridge/smartfridge.ftl
  Resources/Prototypes/Entities/Structures/Machines/smartfridge.yml
Labels: Changes: Localization, Changes: UI, size/L, S: Needs Review

#174 Настраиваемые турели
  Content.Shared/Verbs/VerbCategory.cs
  Content.Shared/_CorvaxNext/TurretControl/TurretControlComponent.cs
  Content.Shared/_CorvaxNext/TurretControl/TurretControlSystem.cs
  Resources/Locale/ru-RU/_corvaxnext/turret-control.ftl
  Resources/Locale/ru-RU/_corvaxnext/verbs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/objects/weapons/guns/turrets.ftl
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_CorvaxNext/ai_factions.yml
Labels: Changes: Localization, size/L, S: Needs Review, S: Untriaged

#182 Oxygen And Nitrous Oxide Canister
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/structures/storage/canisters/gas_canisters.ftl
  Resources/Prototypes/_CorvaxNext/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Textures/Structures/Storage/canister.rsi/meta.json
  Resources/Textures/Structures/Storage/canister.rsi/redsur-1.png
  Resources/Textures/Structures/Storage/canister.rsi/redsur.png
Labels: Changes: Sprites, Changes: Localization, Changes: No C#, S: Needs Review, size/M

#183 Бадикам добавлен в жетоны.
  Content.Server/_CorvaxNext/BodyCam/BodyCameraComponent.cs
  Content.Server/_CorvaxNext/BodyCam/BodyCameraSystem.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/clothing/neck/secbadge.ftl
  Resources/Prototypes/_CorvaxNext/Entities/Clothing/Neck/secbadge.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Tools/bodycamera.yml
Labels: Changes: Localization, size/L, S: Needs Review, S: Untriaged

#184 Раундстартовые газы
  Content.Server/Atmos/Piping/Binary/Components/GasPressurePumpComponent.cs
  Content.Server/Atmos/Piping/Binary/Components/GasVolumePumpComponent.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasPressurePumpSystem.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasVolumePumpSystem.cs
  Content.Server/Atmos/Piping/Trinary/Components/GasMixerComponent.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasMixerSystem.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/structures/piping/atmospherics/binary.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/structures/piping/atmospherics/trinary.ftl
  Resources/Prototypes/_CorvaxNext/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/_CorvaxNext/Entities/Structures/Piping/Atmospherics/trinary.yml
Labels: Changes: Localization, size/L, S: Needs Review, S: Untriaged

#179 Снежки
  Content.Server/Destructible/Thresholds/Behaviors/SpillBehavior.cs
  Content.Shared/_CorvaxNext/FromTileCrafter/Components/FromTileCrafterComponent.cs
  Content.Shared/_CorvaxNext/FromTileCrafter/Systems/FromTileCrafterSystem.cs
  Resources/Locale/ru-RU/_corvaxnext/flavors/flavors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/objects/misc/snowball.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_CorvaxNext/Entities/Fun/snowball.yml
  Resources/Prototypes/_CorvaxNext/Flavors/flavors.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Lathes/Misc.yml
  Resources/Textures/_CorvaxNext/Objects/Misc/snowball.rsi/meta.json
  Resources/Textures/_CorvaxNext/Objects/Misc/snowball.rsi/snowball.png
  Resources/Textures/_CorvaxNext/Objects/Misc/snowball_maker.rsi/inhand-left.png
  Resources/Textures/_CorvaxNext/Objects/Misc/snowball_maker.rsi/inhand-right.png
  Resources/Textures/_CorvaxNext/Objects/Misc/snowball_maker.rsi/meta.json
  Resources/Textures/_CorvaxNext/Objects/Misc/snowball_maker.rsi/snowball-maker.png
Labels: Changes: Sprites, Changes: Localization, size/L, S: Needs Review

#187 Фикс снежков
  Resources/Prototypes/_CorvaxNext/Entities/Fun/snowball.yml
Labels: Changes: No C#, S: Untriaged

#186 Раундстартовые фильтры
  Content.Server/Atmos/Piping/Trinary/Components/GasFilterComponent.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasFilterSystem.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/structures/piping/atmospherics/trinary.ftl
  Resources/Prototypes/_CorvaxNext/Entities/Structures/Piping/Atmospherics/trinary.yml
Labels: Changes: Localization, S: Needs Review, size/M

#189 Попугаи научились говорить!
  Content.Server/_CorvaxNext/Speech/Components/ParrotSpeechComponent.cs
  Content.Server/_CorvaxNext/Speech/EntitySystems/ParrotSpeechSystem.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/mobs/npcs/animals.ftl
  Resources/Prototypes/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/Corvax/Entities/Markers/Spawners/Random/animals.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/_CorvaxNext/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/_CorvaxNext/Mobs/Animals/parrot.rsi/dead.png
  Resources/Textures/_CorvaxNext/Mobs/Animals/parrot.rsi/equipped-HELMET.png
  Resources/Textures/_CorvaxNext/Mobs/Animals/parrot.rsi/icon.png
  Resources/Textures/_CorvaxNext/Mobs/Animals/parrot.rsi/inhand-left.png
  Resources/Textures/_CorvaxNext/Mobs/Animals/parrot.rsi/inhand-right.png
  Resources/Textures/_CorvaxNext/Mobs/Animals/parrot.rsi/meta.json
  Resources/Textures/_CorvaxNext/Mobs/Animals/parrot.rsi/parrot-moving.png
  Resources/Textures/_CorvaxNext/Mobs/Animals/parrot.rsi/parrot.png
Labels: Changes: Sprites, Changes: Localization, size/L, S: Untriaged

#190 Попугаи стали еще умнее.
  Content.Server/_CorvaxNext/Speech/Components/ParrotSpeechComponent.cs
  Content.Server/_CorvaxNext/Speech/EntitySystems/ParrotSpeechSystem.cs
  Resources/Prototypes/_CorvaxNext/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/_CorvaxNext/Mobs/Animals/parrot.rsi/equipped-NECK.png
  Resources/Textures/_CorvaxNext/Mobs/Animals/parrot.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, size/L, S: Untriaged

#193 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#196 Админы и турели
  Content.Shared/_CorvaxNext/TurretControl/Components/TurretControllableComponent.cs
  Content.Shared/_CorvaxNext/TurretControl/Components/TurretControllerComponent.cs
  Content.Shared/_CorvaxNext/TurretControl/TurretControlComponent.cs
  Content.Shared/_CorvaxNext/TurretControl/TurretControlSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Weapons/Guns/turrets.yml
Labels: S: Needs Review, S: Untriaged, size/S

#200 Ghost Bar
  Content.Client/Ghost/GhostSystem.cs
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Client/_CorvaxNext/UserInterface/Systems/Ghost/Controls/GhostBarRulesWindow.xaml
  Content.Client/_CorvaxNext/UserInterface/Systems/Ghost/Controls/GhostBarRulesWindow.xaml.cs
  Content.Server/_CorvaxNext/Ghostbar/Components/GhostBarPlayerComponent.cs
  Content.Server/_CorvaxNext/Ghostbar/Components/GhostBarSpawnComponent.cs
  Content.Server/_CorvaxNext/Ghostbar/GhostBarSystem.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
  Resources/Locale/en-US/_corvaxnext/guidebook/ghost-gui.ftl
  Resources/Locale/ru-RU/_corvaxnext/guidebook/ghost-gui.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/markers/spawners/ghost_roles.yml
  Resources/Maps/Nonstations/ghostbar.yml
  Resources/Prototypes/_CorvaxNext/Entities/Markers/Spawners/ghost_roles.yml
Labels: Changes: Map, Changes: Localization, Changes: UI, S: Needs Review, size/XL, S: Untriaged

#203 Resprite body bags
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Specific/Medical/bodybags.yml
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/bluespace.rsi/bluespacebag.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/bluespace.rsi/bluespacebag_folded.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/bluespace.rsi/bounty.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/bluespace.rsi/captains_paper.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/bluespace.rsi/invoice.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/bluespace.rsi/meta.json
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/bluespace.rsi/open_overlay.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/bluespace.rsi/paper.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/bounty.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/captains_paper.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/invoice.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/meta.json
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/ntbag.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/ntbag_folded.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/open_overlay.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/nanotrasen.rsi/paper.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/prison.rsi/bounty.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/prison.rsi/captains_paper.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/prison.rsi/invoice.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/prison.rsi/meta.json
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/prison.rsi/open_overlay.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/prison.rsi/paper.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/prison.rsi/prisonerbag.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/prison.rsi/prisonerbag_folded.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/radiation.rsi/bounty.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/radiation.rsi/captains_paper.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/radiation.rsi/invoice.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/radiation.rsi/meta.json
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/radiation.rsi/open_overlay.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/radiation.rsi/paper.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/radiation.rsi/radiationbag.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/radiation.rsi/radiationbag_folded.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/syndicate.rsi/bounty.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/syndicate.rsi/captains_paper.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/syndicate.rsi/invoice.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/syndicate.rsi/meta.json
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/syndicate.rsi/open_overlay.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/syndicate.rsi/paper.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/syndicate.rsi/syndicatebag.png
  Resources/Textures/_CorvaxNext/Objects/Specific/Medical/BodyBags/syndicate.rsi/syndicatebag_folded.png
Labels: Changes: Sprites, Changes: No C#, S: Needs Review, size/M

#204 Мелочи для админов
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/admeme/hand_teleporter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/admeme/weather.ftl
  Resources/Prototypes/_CorvaxNext/Admeme/hand_teleporter.yml
  Resources/Prototypes/_CorvaxNext/Admeme/weather.yml
Labels: Changes: Localization, Changes: No C#, S: Untriaged, size/M

#208 Апстрим карт
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, S: Untriaged, size/S

#209 Cryosleep portals
  Content.Server/_CorvaxNext/AutoCryoSleep/AutoCryoSleepComponent.cs
  Content.Server/_CorvaxNext/AutoCryoSleep/AutoCryoSleepSystem.cs
  Content.Server/_CorvaxNext/AutoCryoSleep/AutoCryoSleepableComponent.cs
  Content.Shared/_CorvaxNext/NextVars.cs
Labels: S: Needs Review, S: Untriaged, size/M
