Repository space-syndicate/space-station-14-next, pull requests merged in 2025-04, with the labels that each got.

#328 Королевская Битва
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/_CorvaxNext/BattleRoyale/DynamicRange/DynamicRangeSystem.cs
  Content.Server/_CorvaxNext/BattleRoyale/Rules/BattleRoyaleRuleSystem.cs
  Content.Shared/_CorvaxNext/BattleRoyale/DynamicRange/DynamicRangeComponent.cs
  Resources/Maps/_CorvaxNext/Nonstations/battleroyale.yml
  Resources/Prototypes/Corvax/Maps/Next/battleroyale.yml
  Resources/Prototypes/Corvax/Maps/Pools/battleroyale.yml
  Resources/Prototypes/_CorvaxNext/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_CorvaxNext/game_presets.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL, S: DO NOT MERGE

#329 Миссклик ебана
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/_CorvaxNext/BattleRoyale/DynamicRange/DynamicRangeSystem.cs
  Content.Server/_CorvaxNext/BattleRoyale/Rules/BattleRoyaleRuleSystem.cs
  Content.Shared/_CorvaxNext/BattleRoyale/DynamicRange/DynamicRangeComponent.cs
  Resources/Maps/_CorvaxNext/Nonstations/battleroyale.yml
  Resources/Prototypes/Corvax/Maps/Next/battleroyale.yml
  Resources/Prototypes/Corvax/Maps/Pools/battleroyale.yml
  Resources/Prototypes/_CorvaxNext/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_CorvaxNext/game_presets.yml
Labels: Changes: Map, size/XL

#330 Королевская Битва
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/_CorvaxNext/BattleRoyale/DynamicRange/DynamicRangeSystem.cs
  Content.Server/_CorvaxNext/BattleRoyale/Rules/BattleRoyaleRuleSystem.cs
  Content.Shared/_CorvaxNext/BattleRoyale/DynamicRange/DynamicRangeComponent.cs
  Resources/Maps/_CorvaxNext/Nonstations/battleroyale.yml
  Resources/Prototypes/Corvax/Maps/Next/battleroyale.yml
  Resources/Prototypes/Corvax/Maps/Pools/battleroyale.yml
  Resources/Prototypes/_CorvaxNext/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_CorvaxNext/game_presets.yml
Labels: Changes: Map, S: Needs Review, size/XL, S: Untriaged

#321 Немного исправлений
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Lathes/Misc.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Lathes/Packs/botany.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: No C#, S: Needs Review, size/S

#323 Диваны и скамейки
  Resources/Locale/ru-RU/_corvaxnext/entities/structures/furniture/sofa.ftl
  Resources/Prototypes/_CorvaxNext/Entities/Structures/Furniture/assembly_benches.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Construction/Graphs/furniture/bench.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Construction/furniture.yml
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/comf_bench.rsi/bench_left_base.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/comf_bench.rsi/bench_left_cover.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/comf_bench.rsi/bench_middle_base.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/comf_bench.rsi/bench_middle_cover.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/comf_bench.rsi/bench_right_base.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/comf_bench.rsi/bench_right_cover.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/comf_bench.rsi/bench_solo_base.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/comf_bench.rsi/bench_solo_cover.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/comf_bench.rsi/full.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/comf_bench.rsi/meta.json
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/comf_bench.rsi/pewend_left.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/comf_bench.rsi/pewend_left_armrest.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/comf_bench.rsi/pewend_right.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/comf_bench.rsi/pewend_right_armrest.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/comf_bench.rsi/pewmiddle.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/sofa.rsi/corp_sofacorner.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/sofa.rsi/corp_sofacorner_armrest.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/sofa.rsi/corp_sofaend_left.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/sofa.rsi/corp_sofaend_left_armrest.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/sofa.rsi/corp_sofaend_right.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/sofa.rsi/corp_sofaend_right_armrest.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/sofa.rsi/corp_sofamiddle.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/sofa.rsi/meta.json
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/sofa.rsi/sofacorner.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/sofa.rsi/sofacorner_armrest.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/sofa.rsi/sofaend_left.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/sofa.rsi/sofaend_left_armrest.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/sofa.rsi/sofaend_right.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/sofa.rsi/sofaend_right_armrest.png
  Resources/Textures/_CorvaxNext/Structures/Furniture/Bench/sofa.rsi/sofamiddle.png
Labels: Changes: Sprites, Changes: Localization, size/L, Changes: No C#, S: Untriaged

#338 [Maps] Maus salvage fix
  Resources/Maps/Next/next_maus.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XS

#306 rework grab system and some changes
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
  Content.Server/_Goobstation/Blob/Components/StationBlobConfigComponent.cs
  Content.Server/_Goobstation/GameTicking/Rules/BlobRuleSystem.cs
  Content.Server/_Goobstation/GameTicking/Rules/Components/BlobRuleComponent.cs
  Content.Shared/Movement/Pulling/Components/CanChokeGrabComponent.cs
  Content.Shared/Movement/Pulling/Components/PullerComponent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Resources/Audio/_CorvaxNext/Misc/blob_critical.ogg
  Resources/Audio/_CorvaxNext/Misc/outbreak5.ogg
  Resources/Locale/ru-RU/_Goobstation/blob/blob.ftl
  Resources/Prototypes/Corvax/Maps/Next/Ishimura.yml
  Resources/Prototypes/Corvax/Maps/Next/amber.yml
  Resources/Prototypes/Corvax/Maps/Next/astra.yml
  Resources/Prototypes/Corvax/Maps/Next/avrite.yml
  Resources/Prototypes/Corvax/Maps/Next/awesome.yml
  Resources/Prototypes/Corvax/Maps/Next/bagel.yml
  Resources/Prototypes/Corvax/Maps/Next/box.yml
  Resources/Prototypes/Corvax/Maps/Next/cute.yml
  Resources/Prototypes/Corvax/Maps/Next/delta.yml
  Resources/Prototypes/Corvax/Maps/Next/glacier.yml
  Resources/Prototypes/Corvax/Maps/Next/marathon.yml
  Resources/Prototypes/Corvax/Maps/Next/maus.yml
  Resources/Prototypes/Corvax/Maps/Next/omega.yml
  Resources/Prototypes/Corvax/Maps/Next/outpost.yml
  Resources/Prototypes/Corvax/Maps/Next/packed.yml
  Resources/Prototypes/Corvax/Maps/Next/paper.yml
  Resources/Prototypes/Corvax/Maps/Next/pearl.yml
  Resources/Prototypes/Corvax/Maps/Next/pilgrim.yml
  Resources/Prototypes/Corvax/Maps/Next/silly.yml
  Resources/Prototypes/Corvax/Maps/Next/tushkan.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Maps/amber.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/debug.yml
  Resources/Prototypes/Maps/elkridge.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/gate.yml
  Resources/Prototypes/Maps/loop.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/plasma.yml
  Resources/Prototypes/Maps/reach.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Maps/train.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_Goobstation/Blob/blob_mobs.yml
  Resources/Prototypes/_Goobstation/CollectiveMind/collective_minds.yml
  Resources/Prototypes/_Goobstation/CollectiveMind/tags.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
  Resources/ServerInfo/_Goobstation/Guidebook/Antagonist/Blob.xml
Labels: Changes: Map, Changes: Localization, S: Needs Review, S: Untriaged, size/M, Changes: Audio

#339 hotfix
  Content.Server/Store/Systems/StoreSystem.Listings.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Resources/Locale/ru-RU/_corvaxnext/surgery/surgery-ui.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: Localization, S: Needs Review, S: Untriaged, size/M

#340 [Maps] Cute fix
  Resources/Maps/Next/next_cute.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XS

#342 [Maps] Cute delete sync #3087
  Resources/Maps/Next/next_cute.yml
  Resources/Prototypes/Corvax/Maps/Next/cute.yml
  Resources/Prototypes/Corvax/Maps/Pools/next.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL

#347 [Maps] Pearl fix
  Resources/Maps/Next/next_pearl.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#349 bagel fix
  Resources/Maps/Next/next_bagel.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, S: Untriaged, size/M

#359 Ingest new version for CDN
  .github/workflows/publish.yml
Labels: Changes: No C#, S: Untriaged

#358 fix-grab-system
  Resources/Prototypes/Roles/Jobs/CentComm/deathsquad.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#352 Привязал звук ионного шторма к его ивенту.yml
  Resources/Locale/ru-RU/station-events/events/ion-storm.ftl
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: Localization, Changes: No C#, size/XS

#362 Фиксики
  Resources/Prototypes/Roles/Jobs/CentComm/deathsquad.yml
Labels: Changes: No C#, size/XS

#363 CODEOWNERS
  .github/CODEOWNERS
Labels: Changes: No C#, size/XS

#370 реверт блум
  Content.Client/Entry/EntryPoint.cs
  Content.Client/_CorvaxNext/Bloom/BloomOverlay.cs
  Content.Shared/_CorvaxNext/Bloom/BloomComponent.cs
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/_CorvaxNext/Shaders/shaders.yml
  Resources/Textures/_CorvaxNext/Shaders/bloom.swsl
Labels: S: Needs Review, S: Untriaged, size/M, Changes: Shaders

#374 [Maps] Bagel update #3
  Resources/Maps/Next/next_bagel.yml
Labels: Changes: Map, Changes: No C#, size/XL

#289 Spacessonne boardgame
  Resources/Locale/ru-RU/_corvaxnext/prototypes/entities/objects/fun/tabletop/spacessonne/carc-rulebook.ftl
  Resources/Locale/ru-RU/_corvaxnext/prototypes/entities/objects/fun/tabletop/spacessonne/carc.ftl
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Fun/Tabletop/Spacessonne/bag.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Fun/Tabletop/Spacessonne/boxes.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Fun/Tabletop/Spacessonne/meeple_bags.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Fun/Tabletop/Spacessonne/meeples.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Fun/Tabletop/Spacessonne/rulebooks.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Fun/Tabletop/Spacessonne/tiles.yml
  Resources/Prototypes/_CorvaxNext/tags.yml
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/bag.rsi/classic.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/bag.rsi/equipped-BELT.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/bag.rsi/inhand-left.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/bag.rsi/inhand-right.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/bag.rsi/meta.json
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/boxes.rsi/classic-open.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/boxes.rsi/classic.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/boxes.rsi/meta.json
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/meeple_bag.rsi/equipped-BELT.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/meeple_bag.rsi/icon.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/meeple_bag.rsi/inhand-left.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/meeple_bag.rsi/inhand-right.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/meeple_bag.rsi/meta.json
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/meeple_bag.rsi/overlay-equipped-BELT.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/meeple_bag.rsi/overlay-inhand-left.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/meeple_bag.rsi/overlay-inhand-right.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/meeple_bag.rsi/overlay.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/meeples.rsi/meta.json
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/meeples.rsi/normal.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/rulebook.rsi/classic.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/rulebook.rsi/meta.json
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/back.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/ccccls.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/cccfl.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/cccfls.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/cccrl.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/cccrls.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/ccff.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/ccffl.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/ccffls.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/ccrr.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/ccrrl.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/ccrrls.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/cfcf.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/cfcfl.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/cfcfls.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/cfff.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/cfrr.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/crcr.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/crfr.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/crrf.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/crrr.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/ffff.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/meta.json
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/rfff.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/rfrf.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/rrff.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/rrrf.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/rrrr.png
  Resources/Textures/_CorvaxNext/Objects/Fun/Tabletop/Spacessonne/tiles.rsi/start_back.png
Labels: Changes: Sprites, Changes: Localization, size/L, Changes: No C#, S: Needs Review
