Repository space-syndicate/space-station-14-next, pull requests merged in 2025-08, with the labels that each got.

#539 emergency box for IPC
  Resources/Locale/ru-RU/_corvaxnext/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/corvax/ipc/ipc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/catalog/fills/boxes/emergency.ftl
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_CorvaxNext/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/_CorvaxNext/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/_CorvaxNext/Loadouts/loadouts_groups.yml
  Resources/Prototypes/_CorvaxNext/Loadouts/role_loadouts.yml
Labels: Changes: Localization, Changes: No C#, S: Needs Review, S: Untriaged

#540 Гарнитура с авто-инжектором.
  Content.Server/_CorvaxNext/Medical/HeadsetInject/AutoInjectorComponent.cs
  Content.Server/_CorvaxNext/Medical/HeadsetInject/AutoInjectorSystem.cs
  Resources/Locale/ru-RU/_corvaxnext/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/clothing/ears/headsets_alt.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_CorvaxNext/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Lathes/devices.yml
  Resources/Prototypes/_CorvaxNext/Research/civilianservices.yml
  Resources/Textures/_CorvaxNext/Clothing/Ears/Headsets/auto_inject.rsi/alt-equipped-EARS.png
  Resources/Textures/_CorvaxNext/Clothing/Ears/Headsets/auto_inject.rsi/icon.png
  Resources/Textures/_CorvaxNext/Clothing/Ears/Headsets/auto_inject.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, S: Needs Review, S: Untriaged, size/M

#484 nightwision для короля крсы
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#493 Cyborgs can repair themself now
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: Changes: No C#, size/XS

#381 Corpse has all slots now. And now have name.
  Resources/Prototypes/Entities/Mobs/NPCs/human.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#530 Add AllowSuitStorageClothingGasTanks to ClothingOuterSuitBomb
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/XS
