Repository space-syndicate/space-station-14-next, pull requests merged in 2025-02, with the labels that each got.

#259 [Maps] Next pool tweaks
  Resources/Prototypes/Corvax/Maps/Pools/next.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#260 [Maps] Amber update
  Resources/Maps/Next/next_amber.yml
  Resources/Prototypes/Corvax/Maps/Next/amber.yml
Labels: Changes: Map, Changes: No C#, size/XL, S: Untriaged

#261 [Maps] Bagel roles
  Resources/Maps/Next/next_bagel.yml
  Resources/Prototypes/Corvax/Maps/Next/bagel.yml
Labels: Changes: Map, size/L, Changes: No C#, S: Needs Review

#269 [Maps] Packed update #1
  Resources/Maps/Next/next_packed.yml
  Resources/Prototypes/Corvax/Maps/Next/packed.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL, S: Untriaged

#271 Что мертво умереть не может UPDИшимура
  Resources/Maps/Next/next_Ishimura.yml
  Resources/Prototypes/Corvax/Maps/Next/Ishimura.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL, S: Untriaged

#270 [Maps] Packed update #2
  Resources/Maps/Next/next_packed.yml
Labels: Changes: Map, Changes: No C#

#278 RIP
  Resources/Maps/Next/next_Ishimura.yml
Labels: Changes: Map, size/L, Changes: No C#, S: Needs Review, S: Untriaged

#280 [MAPS] Paper update
  Resources/Maps/Next/next_paper.yml
Labels: Changes: Map, Changes: No C#, size/XL

#76 [Feature] Telescopic Baton
  Content.Shared/_CorvaxNext/LayOnMeleeHit/Components/LayOnMeleeHitComponent.cs
  Content.Shared/_CorvaxNext/LayOnMeleeHit/Systems/LayOnMeleeHitSystem.cs
  Resources/Locale/en-US/_corvaxnext/loadouts/loadoutGroups.ftl
  Resources/Locale/en-US/_corvaxnext/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/_corvaxnext/entities/objects/weapons/melee/telescopic_baton.ftl
  Resources/Locale/ru-RU/_corvaxnext/loadouts/loadoutGroups.ftl
  Resources/Locale/ru-RU/_corvaxnext/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/objects/weapons/melee/telescopic_baton.ftl
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Weapons/telescopic_baton.yml
  Resources/Prototypes/_CorvaxNext/Loadouts/Miscellaneous/SelfDefenceDevices.yml
  Resources/Prototypes/_CorvaxNext/Loadouts/loadout_groups.yml
  Resources/Prototypes/_CorvaxNext/Objectives/stealTargetGroups.yml
  Resources/Textures/_CorvaxNext/Objects/Weapons/Melee/telescopic_baton.rsi/meta.json
  Resources/Textures/_CorvaxNext/Objects/Weapons/Melee/telescopic_baton.rsi/on-inhand-left.png
  Resources/Textures/_CorvaxNext/Objects/Weapons/Melee/telescopic_baton.rsi/on-inhand-right.png
  Resources/Textures/_CorvaxNext/Objects/Weapons/Melee/telescopic_baton.rsi/telescopic_baton_off.png
  Resources/Textures/_CorvaxNext/Objects/Weapons/Melee/telescopic_baton.rsi/telescopic_baton_on.png
Labels: Changes: Sprites, Changes: Localization, S: Needs Review, size/M

#283 [MAPS] Paperhotfix
  Resources/Maps/Next/next_paper.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, S: Untriaged, size/S

#287 Vox shuttle walls
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/structures/walls/walls.ftl
  Resources/Prototypes/_CorvaxNext/Entities/Structures/Walls/walls.yml
  Resources/Textures/_CorvaxNext/Structures/Walls/vox_shuttle.rsi/full.png
  Resources/Textures/_CorvaxNext/Structures/Walls/vox_shuttle.rsi/meta.json
  Resources/Textures/_CorvaxNext/Structures/Walls/vox_shuttle.rsi/state0.png
  Resources/Textures/_CorvaxNext/Structures/Walls/vox_shuttle.rsi/state1.png
  Resources/Textures/_CorvaxNext/Structures/Walls/vox_shuttle.rsi/state2.png
  Resources/Textures/_CorvaxNext/Structures/Walls/vox_shuttle.rsi/state3.png
  Resources/Textures/_CorvaxNext/Structures/Walls/vox_shuttle.rsi/state4.png
  Resources/Textures/_CorvaxNext/Structures/Walls/vox_shuttle.rsi/state5.png
  Resources/Textures/_CorvaxNext/Structures/Walls/vox_shuttle.rsi/state6.png
  Resources/Textures/_CorvaxNext/Structures/Walls/vox_shuttle.rsi/state7.png
  Resources/Textures/_CorvaxNext/Structures/Walls/vox_shuttle_diagonal.rsi/meta.json
  Resources/Textures/_CorvaxNext/Structures/Walls/vox_shuttle_diagonal.rsi/state0.png
  Resources/Textures/_CorvaxNext/Structures/Walls/vox_shuttle_diagonal.rsi/state1.png
  Resources/Textures/_CorvaxNext/Structures/Walls/vox_shuttle_interior.rsi/full.png
  Resources/Textures/_CorvaxNext/Structures/Walls/vox_shuttle_interior.rsi/meta.json
  Resources/Textures/_CorvaxNext/Structures/Walls/vox_shuttle_interior.rsi/state0.png
  Resources/Textures/_CorvaxNext/Structures/Walls/vox_shuttle_interior.rsi/state1.png
  Resources/Textures/_CorvaxNext/Structures/Walls/vox_shuttle_interior.rsi/state2.png
  Resources/Textures/_CorvaxNext/Structures/Walls/vox_shuttle_interior.rsi/state3.png
  Resources/Textures/_CorvaxNext/Structures/Walls/vox_shuttle_interior.rsi/state4.png
  Resources/Textures/_CorvaxNext/Structures/Walls/vox_shuttle_interior.rsi/state5.png
  Resources/Textures/_CorvaxNext/Structures/Walls/vox_shuttle_interior.rsi/state6.png
  Resources/Textures/_CorvaxNext/Structures/Walls/vox_shuttle_interior.rsi/state7.png
Labels: Changes: Sprites, Changes: Localization, Changes: No C#, S: Needs Review, S: Untriaged, size/M
