Repository space-syndicate/space-station-14-next, pull requests merged in 2025-07, with the labels that each got.

#485 [Maps] Void station
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Next/Shuttles/Void/emergency_void.yml
  Resources/Maps/Next/Shuttles/Void/nt-sec_eda.yml
  Resources/Maps/Next/next_void.yml
  Resources/Prototypes/Corvax/Maps/Next/void.yml
  Resources/Prototypes/Corvax/Maps/Pools/next.yml
  Resources/Prototypes/_CorvaxNext/Parallax/void.yml
  Resources/Textures/_CorvaxNext/Parallaxes/VoidParallax.png
Labels: Changes: Map, S: Needs Review, size/XL, S: Untriaged

#490 [Maps] Void hotfix
  Resources/Prototypes/Corvax/Maps/Next/void.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#499 [Maps] Pilgrim tweak
  Resources/Prototypes/Corvax/Maps/Next/pilgrim.yml
  Resources/Prototypes/Corvax/Maps/Pools/next.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/XS

#507 [Maps] Boring proto tweaks
  Resources/Prototypes/Corvax/Maps/Next/bagel.yml
  Resources/Prototypes/Corvax/Maps/Next/void.yml
  Resources/Prototypes/Corvax/Maps/Pools/next.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/S

#489 Change weight midround
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_CorvaxNext/GameRules/events.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/S

#508 change blob gamerules
  Resources/Prototypes/_CorvaxNext/GameRules/events.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
Labels: Changes: No C#, S: Needs Review

#481 Lightning bolt smite
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/_CorvaxNext/Administration/Systems/AdminVerbSystem.Smites.cs
  Resources/Locale/en-US/_corvaxnext/administration/smites.ftl
  Resources/Locale/ru-RU/_corvaxnext/administration/smites.ftl
  Resources/Prototypes/_CorvaxNext/Entities/Effects/lightning.yml
Labels: Changes: Localization, S: Needs Review, S: Untriaged, size/S

#522 LavalandWeaponKinetic on back and suitstorage
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/crushers.yml
Labels: Changes: No C#, S: Needs Review

#524 crafting WeaponMakeshiftLaser
  Resources/Locale/ru-RU/_corvaxnext/recipes/tags.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Crafting/improvised.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Crafting/improvised/makeshift_laser.yml
Labels: Changes: Localization, Changes: No C#, S: Untriaged, size/S

#519 NightVision for Ninja
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#533 Maps online
  Resources/Prototypes/Corvax/Maps/Next/delta.yml
  Resources/Prototypes/Corvax/Maps/Next/maus.yml
  Resources/Prototypes/Corvax/Maps/Pools/next.yml
Labels: Changes: Map, Changes: No C#, size/XS

#514 Add Camera for AI in RCD
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/surveillance_camera.yml
  Resources/Prototypes/_CorvaxNext/RCD/rcd.yml
Labels: Changes: No C#, S: Needs Review, size/S

#537 Revert "TTS Announce"
  Content.Client/Administration/UI/AdminAnnounceWindow.xaml
  Content.Client/Administration/UI/AdminAnnounceWindow.xaml.cs
  Content.Client/Administration/UI/AdminMenuWindowEui.cs
  Content.Client/Corvax/TTS/TTSSystem.cs
  Content.Client/_CorvaxNext/TTS/TTSSystem.Announcements.cs
  Content.Server/Administration/UI/AdminAnnounceEui.cs
  Content.Server/Announcements/AnnounceCommand.cs
  Content.Server/Corvax/TTS/TTSSystem.cs
  Content.Server/_CorvaxNext/TTS/TTSSystem.Announcements.cs
  Content.Shared/Administration/AdminAnnounceEuiState.cs
  Content.Shared/_CorvaxNext/TTS/TTSAnnounceEvent.cs
  Resources/Audio/_CorvaxNext/TTS/comms_end.ogg
  Resources/Audio/_CorvaxNext/TTS/comms_start.ogg
  Resources/Locale/en-US/_corvaxnext/administration/commands/announce-command.ftl
  Resources/Locale/ru-RU/_corvaxnext/tts/tts-ui.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_CorvaxNext/audio_presets.yml
Labels: Changes: Localization, Changes: UI, S: Needs Review, S: Untriaged, Changes: Audio

#541 fix surgeonPDA
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Devices/pda.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#547 pearl обновление
  Resources/Maps/Next/next_pearl.yml
  Resources/Prototypes/Corvax/Maps/Next/pearl.yml
Labels: Changes: Map, Changes: No C#, size/XL, S: Untriaged
