Repository space-syndicate/space-station-14-next, pull requests merged in 2025-03, with the labels that each got.

#272 Survival box & cargo prices
  Resources/Prototypes/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/S

#266 Фиксы следов
  Content.Server/_CorvaxNext/Footprints/FootprintSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#274 Уменьшение перезарядки швабр
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#263 Добавить Бахус
  Resources/Locale/ru-RU/_corvaxnext/flavors/flavors.ftl
  Resources/Locale/ru-RU/_corvaxnext/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/_corvaxnext/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/objects/consumble/drinks/drinks.ftl
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_CorvaxNext/Flavors/flavors.yml
  Resources/Prototypes/_CorvaxNext/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Reactions/drinks.yml
  Resources/Textures/_CorvaxNext/Objects/Consumable/Drinks/bacchusblessingglass.rsi/icon.png
  Resources/Textures/_CorvaxNext/Objects/Consumable/Drinks/bacchusblessingglass.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: No C#, S: Needs Review, S: Untriaged, size/S

#275 Admin list objectives
  Content.Server/Objectives/Commands/ListObjectivesCommand.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#296 Update athara.toml
  Resources/ConfigPresets/Corvax/athara.toml
Labels: Changes: No C#, S: Untriaged

#299 sync Map pool tweaks & semi-pops #3037
  Resources/Prototypes/Corvax/Maps/Corvax/cute.yml
  Resources/Prototypes/Corvax/Maps/Next/bagel.yml
  Resources/Prototypes/Corvax/Maps/Pools/next.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, S: Untriaged, size/S

#301 hotfix resomi sptrite
  Resources/Textures/Clothing/OuterClothing/Vests/hazard.rsi/meta.json
Labels: Changes: No C#, S: Untriaged, size/XS

#292 [Port] Better Lizards (Try2)
  Resources/Locale/en-US/_corvaxnext/markings/reptilian.ftl
  Resources/Locale/ru-RU/_corvaxnext/markings/reptilian.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/_CorvaxNext/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/Corvax/Mobs/Species/Reptilian/parts.rsi/l_leg_digi.png
  Resources/Textures/Corvax/Mobs/Species/Reptilian/parts.rsi/meta.json
  Resources/Textures/Corvax/Mobs/Species/Reptilian/parts.rsi/r_leg_digi.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/meta.json
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spines_aquatic.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spines_aquatic_alt.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spines_long.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spines_long_alt.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spines_longmembrane.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spines_longmembrane_alt.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spines_short.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spines_short_alt.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spines_shortmembrane.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spines_shortmembrane_alt.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spineswag_aquatic.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spineswag_long.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spineswag_longmembrane.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spineswag_short.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian.rsi/spineswag_shortmembrane.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_64x32.rsi/meta.json
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_64x32.rsi/snake_large.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_64x32.rsi/snake_large_overlay.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_64x32.rsi/snake_large_wagging.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_64x32.rsi/snake_large_wagging_overlay.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/cobra_hood_with_ears.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/cobra_hood_with_ears_overlay.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_argali_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_argali_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_ayrshire_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_ayrshire_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_bighorn_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_bighorn_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_curled_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_curled_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_double_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_double_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_myrsore_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_myrsore_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_ram_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_ram_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_short_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_short_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_simple_l.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/horns_simple_r.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/reptilian_parts.rsi/meta.json
  Resources/Textures/_CorvaxNext/Mobs/Customization/snouts.rsi/eastern_dragon.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/snouts.rsi/eastern_dragon_overlay.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/snouts.rsi/eastern_dragon_usiki.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/snouts.rsi/guilmon.png
  Resources/Textures/_CorvaxNext/Mobs/Customization/snouts.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: No C#, S: Needs Review, S: Untriaged

#305 HotFixRitualTag
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/S

#307 hotfix again
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
  Resources/Prototypes/Body/Prototypes/Animal/animal.yml
  Resources/Prototypes/Body/Prototypes/a_ghost.yml
  Resources/Prototypes/Corvax/Maps/Next/silly.yml
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/settings.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/subgamemodes.yml
  Resources/Prototypes/Roles/Jobs/CentComm/cburn.yml
  Resources/Prototypes/Roles/Jobs/CentComm/deathsquad.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_CorvaxNext/Roles/Jobs/Medical/surgeon.yml
  Resources/Prototypes/_CorvaxNext/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
Labels: Changes: Map, S: Needs Review, size/M

#312 fix-charge
  Resources/Prototypes/Entities/Objects/Power/portable_recharger.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#314 [Maps] Omega prototype hotfix
  Resources/Prototypes/Corvax/Maps/Next/omega.yml
Labels: Changes: Map, Changes: No C#, size/XS

#311 [MAPS] Paper small upd
  Resources/Maps/Next/next_paper.yml
Labels: Changes: Map, size/L, Changes: No C#, S: Needs Review, S: Untriaged

#308 Возвращение диктофона и кассет в автолат
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#316 FixHereticRitual2
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Organs/Animal/slimes.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Body/Organs/moth.yml
  Resources/Prototypes/Body/Organs/rat.yml
  Resources/Prototypes/Body/Organs/slime.yml
  Resources/Prototypes/Body/Organs/vox.yml
Labels: Changes: No C#, S: Untriaged, size/S

#310 добавлена лотерея на гост роль мидраунд блоба
  Resources/Prototypes/_Goobstation/Blob/blob_mobs.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#315 Fix Plant Analyzer
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Lathes/Packs/botany.yml
Labels: Changes: No C#, S: Needs Review

#320 Исправление имени Ниндзя
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#318 Исправление конвертации командования
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Content.Server/_Reserve/Revolutionary/ConsentRevolutionarySystem.cs
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-revolutionary.ftl
Labels: Changes: Localization, S: Needs Review, S: Untriaged, size/XS

#317 Shooting skill fix
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: Changes: No C#, S: Needs Review, size/S

#325 BRR
  Content.Client/_CorvaxNext/BattleRoyale/RangeFinder/RangeFinderSystem.cs
  Content.Client/_CorvaxNext/BattleRoyale/RangeFinder/RangeFinderVisualizerSystem.cs
  Content.Server/_CorvaxNext/BattleRoyale/DynamicRange/DynamicRangeSystem.cs
  Content.Server/_CorvaxNext/BattleRoyale/RangeFinder/RangeFinderSystem.cs
  Content.Server/_CorvaxNext/BattleRoyale/Rules/BattleRoyaleRuleSystem.cs
  Content.Server/_CorvaxNext/BattleRoyale/Rules/Components/BattleRoyaleRuleComponent.cs
  Content.Shared/_CorvaxNext/BattleRoyale/DynamicRange/DynamicRangeComponent.cs
  Content.Shared/_CorvaxNext/BattleRoyale/RangeFinder/RangeFinderComponent.cs
  Content.Shared/_CorvaxNext/BattleRoyale/RangeFinder/SharedRangeFinderSystem.cs
  Resources/Locale/ru-RU/_corvaxnext/battleroyale.ftl
  Resources/Locale/ru-RU/_corvaxnext/catalog/fills/backpacks/dufflebag.ftl
  Resources/Locale/ru-RU/_corvaxnext/catalog/fills/crates/battleroyale.ftl
  Resources/Locale/ru-RU/_corvaxnext/entities/markers/spawners/random/battleroyale/armor.ftl
  Resources/Locale/ru-RU/_corvaxnext/entities/markers/spawners/random/battleroyale/crates.ftl
  Resources/Locale/ru-RU/_corvaxnext/entities/markers/spawners/random/battleroyale/medicine.ftl
  Resources/Locale/ru-RU/_corvaxnext/entities/markers/spawners/random/battleroyale/weapons.ftl
  Resources/Locale/ru-RU/_corvaxnext/entities/objects/devices/pinpointer.ftl
  Resources/Locale/ru-RU/_corvaxnext/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/ru-RU/_corvaxnext/reagents/medicine.ftl
  Resources/Prototypes/_CorvaxNext/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_CorvaxNext/Catalog/Fills/Crates/battleroyale.yml
  Resources/Prototypes/_CorvaxNext/Catalog/Fills/Crates/bluespace_harvester.yml
  Resources/Prototypes/_CorvaxNext/Entities/Markers/Spawners/Random/BattleRoyale/armor.yml
  Resources/Prototypes/_CorvaxNext/Entities/Markers/Spawners/Random/BattleRoyale/crates.yml
  Resources/Prototypes/_CorvaxNext/Entities/Markers/Spawners/Random/BattleRoyale/medicine.yml
  Resources/Prototypes/_CorvaxNext/Entities/Markers/Spawners/Random/BattleRoyale/weapons.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Devices/pinpointer.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_CorvaxNext/GameRules/roundstart.yml
  Resources/Prototypes/_CorvaxNext/Reagents/medicine.yml
  Resources/Prototypes/_CorvaxNext/Roles/Jobs/Fun/battleroyal_startinggear.yml
  Resources/Prototypes/_CorvaxNext/game_presets.yml
Labels: Changes: Localization, size/L, S: Untriaged

#326 April map pool
  Resources/Prototypes/Corvax/Maps/Corvax/astra.yml
  Resources/Prototypes/Corvax/Maps/Corvax/frame.yml
  Resources/Prototypes/Corvax/Maps/Corvax/gelta.yml
  Resources/Prototypes/Corvax/Maps/Corvax/ishimura.yml
  Resources/Prototypes/Corvax/Maps/Pools/next.yml
  Resources/Prototypes/Maps/Relic.yml
Labels: Changes: Map, Changes: No C#, size/S
