Repository space-syndicate/space-station-14-next, pull requests merged in 2025-01, with the labels that each got.

#210 Система автоматического телепортирования в криокапсулы
  Content.Shared/_CorvaxNext/NextVars.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: S: Needs Review, S: Untriaged, size/XS

#206 Фикс интелкарты и турелей
  Content.Shared/_CorvaxNext/TurretControl/Components/TurretControllerComponent.cs
  Content.Shared/_CorvaxNext/TurretControl/TurretControlSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: S: Needs Review, S: Untriaged, size/S

#213 Обновление акцента "Тихоня"
  Content.Server/_CorvaxNext/Speech/EntitySystems/HushedSystem.cs
  Resources/Locale/ru-RU/_corvaxnext/speech/speech-effects.ftl
  Resources/Locale/ru-RU/_corvaxnext/traits/traits.ftl
  Resources/Prototypes/_CorvaxNext/Traits/speech.yml
Labels: Changes: Localization, S: Needs Review, S: Untriaged, size/S

#211 Дионы теперь не падают при БСС
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/_CorvaxNext/FTLKnockdownImmune/FTLKnockdownImmuneComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
Labels: S: Needs Review, S: Untriaged, size/S

#216 [Port] End Screen Medals
  Content.Client/_CorvaxNext/CrewMedal/CrewMedalSystem.cs
  Content.Client/_CorvaxNext/CrewMedal/UI/CrewMedalBoundUserInterface.cs
  Content.Client/_CorvaxNext/CrewMedal/UI/CrewMedalWindow.xaml
  Content.Client/_CorvaxNext/CrewMedal/UI/CrewMedalWindow.xaml.cs
  Content.Server/_CorvaxNext/CrewMedal/CrewMedalSystem.cs
  Content.Shared/_CorvaxNext/CrewMedal/CrewMedalComponent.cs
  Content.Shared/_CorvaxNext/CrewMedal/CrewMedalEvents.cs
  Content.Shared/_CorvaxNext/CrewMedal/SharedCrewMedalSystem.cs
  Resources/Locale/ru-RU/_corvaxnext/crew-medals/crew-medal-component.ftl
  Resources/Prototypes/Entities/Clothing/Neck/medals.yml
Labels: Changes: Localization, Changes: UI, S: Needs Review, S: Untriaged, size/M

#219 Мини-Апстрим
  Content.Server/Telephone/TelephoneSystem.cs
  Resources/Audio/Corvax/Announcements/aiannounce.ogg
  Resources/Changelog/ChangelogSyndie.yml
  Resources/Maps/corvax_pearl.yml
  Resources/Prototypes/Corvax/Maps/Pools/default.yml
  Resources/Prototypes/Corvax/Maps/awesome.yml
  Resources/Prototypes/Corvax/Maps/glacier.yml
  Resources/Prototypes/Corvax/Maps/outpost.yml
  Resources/Prototypes/Corvax/Maps/paper.yml
  Resources/Prototypes/Corvax/Maps/pearl.yml
  Resources/Prototypes/Corvax/Maps/silly.yml
  Resources/Prototypes/Corvax/Maps/tushkan.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Textures/Clothing/Head/Hardhats/armored.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardhats/armored.rsi/light-icon.png
  Resources/Textures/Clothing/Head/Hardhats/armored.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardhats/armored.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardhats/armored.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardhats/armored.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardhats/armored.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardhats/armored.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardhats/armored.rsi/on-inhand-right.png
  Resources/Textures/Clothing/Head/Hardhats/dark_yellow.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardhats/dark_yellow.rsi/light-icon.png
  Resources/Textures/Clothing/Head/Hardhats/dark_yellow.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardhats/dark_yellow.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardhats/dark_yellow.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardhats/dark_yellow.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardhats/dark_yellow.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardhats/dark_yellow.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardhats/dark_yellow.rsi/on-inhand-right.png
Labels: Changes: Sprites, Changes: Map, S: Needs Review, S: Untriaged, Changes: Audio

#212 Багфикс Наночата
  Content.Server/_CorvaxNext/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
  Content.Shared/_CorvaxNext/NanoChat/NanoChatCardComponent.cs
  Content.Shared/_CorvaxNext/NanoChat/SharedNanoChatSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#221 Навыходившие фиксы хирургии
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/_CorvaxNext/Roles/Jobs/Medical/surgeon.yml
  Resources/Prototypes/_CorvaxNext/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/borg_types.yml
Labels: Changes: No C#, S: Untriaged, size/S

#220 Clean backmen folder
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml.cs
  Content.Client/UserInterface/Systems/Alerts/Widgets/AlertsUI.xaml
  Content.Client/UserInterface/Systems/Alerts/Widgets/AlertsUI.xaml.cs
  Content.Client/_CorvaxNext/Overlays/Shaders/SaturationScaleOverlay.cs
  Content.Client/_CorvaxNext/Overlays/Systems/SaturationScaleSystem.cs
  Content.IntegrationTests/Tests/Minds/MindTest.DeleteAllThenGhost.cs
  Content.IntegrationTests/Tests/Movement/SlippingTest.cs
  Content.Server/Arcade/BlockGame/BlockGame.cs
  Content.Server/_CorvaxNext/Mood/MoodComponent.cs
  Content.Server/_CorvaxNext/Mood/MoodSystem.cs
  Content.Server/_CorvaxNext/Traits/Assorted/ModifyMoodTraitComponent.cs
  Content.Shared/Nutrition/EntitySystems/HungerSystem.cs
  Content.Shared/_CorvaxNext/Mood/MoodCategoryPrototype.cs
  Content.Shared/_CorvaxNext/Mood/MoodEffectPrototype.cs
  Content.Shared/_CorvaxNext/Mood/MoodEvents.cs
  Content.Shared/_CorvaxNext/Mood/SharedMoodComponent.cs
  Content.Shared/_CorvaxNext/Overlays/SaturationScaleComponent.cs
  Resources/Prototypes/_CorvaxNext/Alerts/categories.yml
  Resources/Prototypes/_CorvaxNext/Alerts/mood.yml
  Resources/Prototypes/_CorvaxNext/Mood/categories.yml
  Resources/Prototypes/_CorvaxNext/Mood/genericNeeds.yml
  Resources/Prototypes/_CorvaxNext/Mood/genericNegativeEffects.yml
  Resources/Prototypes/_CorvaxNext/Mood/genericPositiveEffects.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Lathes/robotics.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Lathes/security.yml
  Resources/Prototypes/_CorvaxNext/Research/civilianservices.yml
  Resources/Prototypes/_CorvaxNext/Traits/categories.yml
  Resources/Prototypes/_CorvaxNext/Traits/neutral.yml
Labels: Changes: UI, S: Needs Review, S: Untriaged, size/S

#224 [PORT] animated emoting
  Content.Client/_CorvaxNext/Emoting/AnimatedEmotesSystem.cs
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/_CorvaxNext/Emoting/AnimatedEmotesSystem.cs
  Content.Shared/Chat/Prototypes/EmotePrototype.cs
  Content.Shared/_CorvaxNext/Emoting/AnimatedEmotesComponent.cs
  Content.Shared/_CorvaxNext/Emoting/SharedAnimatedEmotesSystem.cs
  Resources/Locale/ru-RU/_corvaxnext/emotes.ftl
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/_CorvaxNext/Actions/emotes.yml
Labels: Changes: Localization, S: Needs Review, S: Untriaged, size/M

#226 [PORT] Additional for mapping
  Content.Server/Warps/WarpPointComponent.cs
  Content.Server/Warps/WarpPointSystem.cs
  Content.Server/_CorvaxNext/AdditionalMap/AdditionalMapFixComponent.cs
  Content.Server/_CorvaxNext/AdditionalMap/AdditionalMapFixSystem.cs
  Content.Server/_CorvaxNext/AdditionalMap/StationAdditionalMapComponent.cs
  Content.Server/_CorvaxNext/AdditionalMap/StationAdditionalMapSystem.cs
  Content.Server/_CorvaxNext/BiomeSpawner/Components/BiomeSpawnerComponent.cs
  Content.Server/_CorvaxNext/BiomeSpawner/EntitySystems/BiomeSpawnerSystem.cs
  Content.Server/_CorvaxNext/Warper/WarperComponent.cs
  Content.Server/_CorvaxNext/Warper/WarperSystem.cs
  Content.Shared/Parallax/Biomes/SharedBiomeSystem.cs
  Resources/Locale/ru-RU/_corvaxnext/warper/warp-point-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/admeme/hand_teleporter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/markers/spawners/random/biome/biomespawner.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_corvaxnext/entities/structures/warps/ladders.ftl
  Resources/Prototypes/_CorvaxNext/Admeme/hand_teleporter.yml
  Resources/Prototypes/_CorvaxNext/Entities/Markers/Spawners/Random/Biome/biomeSpawner.yml
  Resources/Prototypes/_CorvaxNext/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_CorvaxNext/Entities/Structures/Warps/ladders.yml
  Resources/Prototypes/_CorvaxNext/Procedural/biomes.yml
  Resources/Textures/_CorvaxNext/Markers/biome.rsi/asteroid.png
  Resources/Textures/_CorvaxNext/Markers/biome.rsi/cave.png
  Resources/Textures/_CorvaxNext/Markers/biome.rsi/chromite.png
  Resources/Textures/_CorvaxNext/Markers/biome.rsi/desert.png
  Resources/Textures/_CorvaxNext/Markers/biome.rsi/frame.png
  Resources/Textures/_CorvaxNext/Markers/biome.rsi/grass.png
  Resources/Textures/_CorvaxNext/Markers/biome.rsi/lava.png
  Resources/Textures/_CorvaxNext/Markers/biome.rsi/meta.json
  Resources/Textures/_CorvaxNext/Markers/biome.rsi/snow.png
  Resources/Textures/_CorvaxNext/Markers/environment.rsi/base-blue.png
  Resources/Textures/_CorvaxNext/Markers/environment.rsi/base-green.png
  Resources/Textures/_CorvaxNext/Markers/environment.rsi/base-red.png
  Resources/Textures/_CorvaxNext/Markers/environment.rsi/meta.json
  Resources/Textures/_CorvaxNext/Markers/environment.rsi/portal.png
  Resources/Textures/_CorvaxNext/Markers/environment.rsi/wall.png
  Resources/Textures/_CorvaxNext/Structures/Warps/ladder.rsi/ladder_bottom.png
  Resources/Textures/_CorvaxNext/Structures/Warps/ladder.rsi/ladder_top.png
  Resources/Textures/_CorvaxNext/Structures/Warps/ladder.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, S: Needs Review, S: Untriaged, size/M

#227 Animated Ghost
  Resources/Textures/Mobs/Ghosts/ghost_human.rsi/animated.png
  Resources/Textures/Mobs/Ghosts/ghost_human.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#, S: Untriaged

#230 [FIX] Resomi locale
  Resources/Locale/ru-RU/_corvaxnext/abilitties/listen-up.ftl
Labels: Changes: Localization, Changes: No C#, S: Untriaged, size/XS

#243 [Maps] Fix Paper
  Resources/Maps/Next/next_paper.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#241 [Maps] Outpost update
  Resources/Maps/Next/next_outpost.yml
  Resources/Prototypes/Corvax/Maps/Next/outpost.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL, S: Untriaged

#239 [Maps] Bagel update #1
  Resources/Maps/Next/next_bagel.yml
  Resources/Prototypes/Corvax/Maps/Next/bagel.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL

#246 [Maps] Tushkan update #1
  Resources/Maps/Next/next_tushkan.yml
Labels: Changes: Map, size/L, Changes: No C#, S: Untriaged

#238 Next marathon
  Resources/Maps/Next/next_marathon.yml
  Resources/Prototypes/Corvax/Maps/Next/marathon.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL, S: Untriaged

#244 [Maps] Omega update #1
  Resources/Maps/Next/next_omega.yml
  Resources/Prototypes/Corvax/Maps/Next/omega.yml
Labels: Changes: Map, Changes: No C#, size/XL

#253 Fix CRLF
  Resources/Maps/Next/next_marathon.yml
  Resources/Maps/Next/next_omega.yml
Labels: Changes: Map, Changes: No C#
