Repository space-syndicate/space-station-14-next, pull requests merged in 2025-05, with the labels that each got.

#377 Spacessonne to stations
  Resources/Locale/ru-RU/_corvaxnext/catalog/fills/crates/fun.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/games.yml
  Resources/Prototypes/_CorvaxNext/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_CorvaxNext/Catalog/Fills/Crates/fun.yml
Labels: Changes: Localization, Changes: No C#, S: Needs Review, S: Untriaged, size/S

#383 [MAPS] Paper upd
  Resources/Maps/Next/next_paper.yml
  Resources/Prototypes/Corvax/Maps/Next/box.yml
  Resources/Prototypes/Corvax/Maps/Next/paper.yml
Labels: Changes: Map, Changes: No C#, size/XL, S: Untriaged

#384 Small spacessonne rule correction
  Resources/Locale/ru-RU/_corvaxnext/prototypes/entities/objects/fun/tabletop/spacessonne/carc-rulebook.ftl
Labels: Changes: Localization, Changes: No C#, size/S

#391 Bagel update #4
  Resources/Maps/Next/next_bagel.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL, S: Untriaged

#395 [Maps] bagel_next update 5!!!
  Resources/Maps/Next/next_bagel.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL, S: Untriaged

#393 [Maps] Силли NEXT update?
  Resources/Maps/Corvax/Shuttles/cargo_corvaxsilly.yml
  Resources/Maps/Next/next_silly.yml
  Resources/Prototypes/Corvax/Maps/Next/silly.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL, S: Untriaged

#397 [Maps] Omega micro update
  Resources/Maps/Next/next_omega.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, S: Untriaged

#399 [Maps] Maus sync
  Resources/Maps/Next/next_maus.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL

#403 Skills for Cyborgs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: Changes: No C#, S: Untriaged

#404 FixRPD
  Content.Client/RCD/RCDMenuBoundUserInterface.cs
  Resources/Locale/en-US/rcd/components/rcd-component.ftl
  Resources/Locale/ru-RU/rcd/components/rcd-component.ftl
Labels: Changes: Localization, S: Needs Review, S: Untriaged, size/S

#405 FixSurgeon
  Resources/Locale/en-US/_corvaxnext/preferences/loadout-groups.ftl
  Resources/Prototypes/_CorvaxNext/Loadouts/loadouts_groups.yml
  Resources/Prototypes/_CorvaxNext/Loadouts/role_loadouts.yml
Labels: Changes: Localization, Changes: No C#, S: Needs Review, size/S

#368 Say YES to bone setter
  Content.Shared/_CorvaxNext/Surgery/Tools/SurgeryToolExamineSystem.cs
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/medical/surgery.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/surgery.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/robotics.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/EntityLists/Tools/surgery.yml
  Resources/Prototypes/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/_CorvaxNext/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_CorvaxNext/Entities/Surgery/surgery_steps.yml
  Resources/Prototypes/_CorvaxNext/tags.yml
  Resources/ServerInfo/Corvax/Guidebook/Medical/Surgery.xml
Labels: Changes: Localization, Changes: No C#, S: Needs Review, size/S

#411 [Maps] Авсм реворк
  Resources/Maps/Next/next_awesome.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL

#406 [MAPS]Outpost update
  Resources/Maps/Next/next_outpost.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL, S: Untriaged

#398 Пожарные шлюзы
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosAlarmableSystem.cs
  Content.Server/Doors/Systems/FirelockSystem.cs
  Content.Server/_CorvaxNext/Atmos/System/AirAlarmSystem.cs
  Content.Shared/Doors/Systems/SharedFirelockSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#422 Change Warden headset
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged

#424 Laser guns rebalance
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/S

#386 [Port] Hristov Buff
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Shared/Projectiles/ProjectileComponent.cs
  Content.Shared/_Goobstation/Penetration/PenetratableComponent.cs
  Resources/Locale/ru-RU/_Goobstation/prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/high_caliber_magazine.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/blast_door.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Walls/grille.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
  Resources/Prototypes/Entities/Structures/base_structure.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/high_caliber_magazine.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/sniper_rifle_mag.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/sniper_rifle_mag.rsi/mag-1.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/sniper_rifle_mag.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, S: Untriaged, size/M

#380 B.O.R.I.S ai remote control brain
  Content.Client/Robotics/UI/RoboticsConsoleWindow.xaml.cs
  Content.Client/_CorvaxNext/Silicons/Borgs/AiRemoteControlSystem.cs
  Content.Client/_CorvaxNext/Silicons/Laws/Ui/RemoteDeviceDisplay.xaml
  Content.Client/_CorvaxNext/Silicons/Laws/Ui/RemoteDeviceDisplay.xaml.cs
  Content.Client/_CorvaxNext/Silicons/Laws/Ui/RemoteDevicesBoundUserInterface.cs
  Content.Client/_CorvaxNext/Silicons/Laws/Ui/RemoteDevicesMenu.xaml
  Content.Client/_CorvaxNext/Silicons/Laws/Ui/RemoteDevicesMenu.xaml.cs
  Content.Server/Robotics/Systems/RoboticsConsoleSystem.cs
  Content.Server/Silicons/Borgs/BorgSwitchableTypeSystem.cs
  Content.Server/Silicons/Borgs/BorgSystem.Transponder.cs
  Content.Server/Silicons/Borgs/BorgSystem.cs
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Server/_CorvaxNext/Silicons/Borgs/AiRemoteControlSystem.cs
  Content.Shared/Robotics/RoboticsConsoleUi.cs
  Content.Shared/Silicons/Laws/SharedSiliconLawSystem.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Content.Shared/Silicons/StationAi/StationAiHeldComponent.cs
  Content.Shared/_CorvaxNext/Silicons/Borgs/Components/AiRemoteBrainComponent.cs
  Content.Shared/_CorvaxNext/Silicons/Borgs/Components/SharedAiRemoteControllerComponent.cs
  Content.Shared/_CorvaxNext/Silicons/Borgs/SharedAiRemoteControlSystem.cs
  Resources/Locale/en-US/_corvaxnext/silicons/ai-remote.ftl
  Resources/Locale/ru-RU/_corvaxnext/silicons/ai-remote.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/_CorvaxNext/Actions/station_ai.yml
  Resources/Prototypes/_CorvaxNext/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_CorvaxNext/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_CorvaxNext/Entities/Objects/Specific/Robotics/airemote.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Lathes/Packs/circuitboards.yml
  Resources/Prototypes/_CorvaxNext/Recipes/Lathes/electronics.yml
Labels: Changes: Localization, Changes: UI, S: Needs Review, S: Untriaged, size/M

#410 Локализация предметов для ритуала знаний.
  Content.Server/_Goobstation/Heretic/Ritual/CustomBehavior.Knowledge.cs
  Resources/Locale/en-US/_Goobstation/datasets/ritualknowledge.ftl
  Resources/Locale/ru-RU/_Goobstation/Heretic/objectives/knowledgeritual.ftl
Labels: Changes: Localization, S: Needs Review, S: Untriaged, size/M
