Repository space-syndicate/space-station-14-next, pull requests merged in 2025-06, with the labels that each got.

#442 Fix textures for pilot locker
  Resources/Textures/_CorvaxNext/Structures/Storage/closet.rsi/locked.png
  Resources/Textures/_CorvaxNext/Structures/Storage/closet.rsi/unlocked.png
Labels: Changes: Sprites, Changes: No C#, S: Untriaged, size/XS

#441 [Maps] Awesome update
  Resources/Maps/Next/next_awesome.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL, S: Untriaged

#460 Funding console access change
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#462 [Maps] Marathon Update
  Resources/Maps/Next/next_marathon.yml
Labels: Changes: Map, size/L, Changes: No C#, S: Needs Review, S: Untriaged

#467 [Maps] MarathonUpdate 2
  Resources/Maps/Next/next_marathon.yml
Labels: Changes: Map, Changes: No C#, size/M

#464 V11
  Resources/Maps/Next/next_amber.yml
Labels: Changes: Map, Changes: No C#, S: Needs Review, size/XL, S: Untriaged

#469 Lasers gun requires skill tweak
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#472 Minerssalve balance
  Resources/Prototypes/_Lavaland/Reagents/medicine.yml
Labels: Changes: No C#, size/S

#476 fix-locale-knowledgeRitual
  Resources/Locale/ru-RU/_Goobstation/Heretic/objectives/knowledgeritual.ftl
Labels: Changes: Localization, Changes: No C#, S: Untriaged
